@media(max-width: 1850px){
    .submitted-demo-page{
        .microphone-image {
            top: 205px;
            max-width: 285px;
        }
        .logo-box{
            .logo-main{
                img{
                    max-width: 140px;
                }
            }
        }
    } 
}
@media (max-width: 1750px){
    .top-action-header{
        .center-box{
            .btn.app-button{
                i,span{
                    display: inline-block;
                    vertical-align: middle;
                }
                i{
                    margin-right: 3px;
                }
               span:not(.info-tooltip-ico){
                   white-space: normal;
                   line-height: 17px;
                   text-align: left;
                   font-size: 12px;
               }
               i{
                font-size: 15px;
               }   
               .tooltip-wrapper{
                    top: 7px;
               }
               &.dropdown-toggle{
                padding-right: 25px;
                &:before{
                    right: 4px;
                }
               }
            }
            .btn.app-button {
                height: 54px;
                line-height: 44px;
            }
            .balance-info{
                width: 102px;
                line-height: 20px;
                padding: 7px 6px;
                font-size: 12px;
            }
        } 
    }
}
@media(max-width: 1600px){
    .word-count-info{
        p {
            line-height: 44px;
            font-size: 18px;
            .info-count {
                font-size: 20px;
                line-height: 27px;
                vertical-align: -1px;
            }
            .time-count .info-count {
                margin-left: 5px;
            }
        }
    } 
    .top-action-header{
         .left-box {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 290px;
        }
        a.main-logo {
            padding-top: 15px;
            padding-bottom: 7px;
            padding-left: 22px;
            padding-right: 22px;
        }
        .side-menu{
            padding-top: 82px;
            width: 290px;
            .nav-list{
                li.menu-list-item{
                    font-size: 16px;
                    &.header, a.menu-nav-link{
                        padding-left: 22px;
                        padding-right: 22px;
                    }
                    a.menu-nav-link{
                        height: 50px;
                        line-height: 50px;
                        i,span{
                            line-height: 50px;
                        }
                        i{
                            width: 24px;
                            font-size: 18px;
                        }
                    }
                }
                .sub-menu {
                    .sub-menu-list-item{
                        .menu-nav-link{
                            padding-left: 22px;
                            padding-right: 22px;
                        }
                    } 
                }
                &.callcenter-list a img{
                    width: 35px;
                }
            } 
        }
       
        .right-box{
            .alert-box {
                margin-right: 8px;
            }
            .profile{
                padding: 9px 0;
                margin-right: 14px;
                label {
                    height: 47px;
                    width: 117px;
                }
            }
            .other-actions .other-actions-btn {
                height: 47px;
                width: 47px;
                font-size: 18px;
                border-radius: 8px;
                background-color: #ffa626;
                color: #fff;
            }
        } 
    } 
    .summary-info-page{
        padding-left: 290px;
        .site-content{
            .content-header{

                .offer-lbl{
                    font-size: 18px;
                }
                .help-link {
                    margin-right: 12px;
                }
            } 
            .page-banner{
                .text-wrapper{
                    h2{
                        font-size: 45px;
                        line-height: 1;
                    }
                    .ex-large-font{
                        font-size: 112px;
                    }
                } 
                .img-container{
                    min-width: 440px;
                    max-width: 440px;
                }
                &.jobs-audi-banner{
                    .text-wrapper {
                        h2{
                            padding-left: 0px;
                            margin-bottom: 25px;
                        }
                        .select-cur-lov{
                            flex-wrap: wrap;
                            &>label{
                                display: block;
                                width: 100%;
                                min-width: 100%;
                            }
                        }
                    }
                }
            } 
             /*--------------page-wizard--------------*/
            .page-wizard{
                .nav-tabs.arrow-style{
                    .nav-link{
                        span{
                            height: 21px;
                            width: 21px;
                            border-radius: 5px;
                            line-height: 21px;
                            font-size: 14px;
                        }
                        label{
                            font-size: 12px;
                            padding-left: 8px;
                        }
                    }
                }
            }
            .contact-blocks{
                .card{
                    min-height: 82px;
                    img{
                        width: 50px;
                    }
                    a{
                        font-size: 18px;
                        padding-left: 15px !important;
                    }
                }
            }
        } 
    }
    .signin-page .microphone-image{
        width: 350px;
        top: 33%;
    }
    .main-wrapper.record-page{
        padding-top: 79px;
    }
}
@media(max-width: 1450px){
    
    .summary-full-banner{
        padding-right: 325px;
        .img-container{
            right: 12px;
        }
    }
    .top-action-header{
        .center-box{
            .btn.app-button {
                text-align: left;
            }
        } 
    }
    .site-content{
        .how-to-section{
            .connect-line{
                left: 14%;
            }
        }
        .app-card{
            &.client-booking-info{
                .card-body{
                    flex-wrap: wrap;
                    .left-box, .right-box{
                        min-width: 100%;
                    }
                    .right-box{
                        text-align: left;
                        padding-left: 0;
                        padding-top: 15px;
                    }
                }
            }
            &.estimates-card {
                h4{
                    margin-bottom: 26px !important;
                    font-size: 12px;
                }
                .icon-col {
                    width: 95px;
                    min-width: 95px;
                    margin-bottom: 5px;
                }
                .info-col{
                    .data-row{
                        label {
                            width: 105px;
                            font-size: 14px;
                        }
                        span {
                            width: 90px;
                            font-size: 14px;
                        }
                    } 
                } 
            }
        }
    } 
    .main-wrapper.record-page{
        padding-top: 79px;
    }
    .howto-section{
        padding: 0 90px;
    }
}
@media(max-width: 1366px){
        .res-link-col{
            min-width: 100%;
        }
        .res-wrap-text{
            display: block;
            min-width: 100%;
            word-break: break-all;
            white-space: normal;
        }
     /*--------main footer-------*/
     .main-footer .footer-top{
        padding: 0 25px;
         .inner-wrapper{
            margin-left: -15px;
            margin-right: -15px;
            .foot-col{
                padding-left: 15px;
                padding-right: 15px;
                ul{
                    a{
                        line-height: 25px;
                    }
                }
            }
        }
     } 
     .top-action-header{
        .center-box{
            .btn.app-button {
                text-align: left;
            }
        } 
    } 
    .site-content{
        .cards-row .card .card-header span{
            font-size: 17px;
        }
        .cards-row .card .list-group .list-group-item span{
            font-size: 15px;
        }
        .app-card.person-card {
            .left-box {
                width: 100px;
                min-width: 100px;
            }
            .content-box {
                padding-left: 20px;
                padding-right: 75px;
                .music-player {
                    right: 16px;
                    top: 17px;
                }
                .btn-box{
                    .lbl-wrapper,.btn-wrapper{
                        flex-wrap: wrap;
                    }
                    .btn-wrapper{
                        button{
                            min-width: auto;
                        }
                    }
                } 
            }
        }
        .paymentrecipt-card{
            .card-header{
                h3{
                    font-size: 25px;
                }
            }
        }
    }
     
}
@media(max-width: 1365px){
    .compare-section {
        .compare-box{
            .music-box{
                flex-direction: column;
                .logo-box{
                    order: 2;
                    background: rgba(255, 255, 255,0.57);
                    padding: 5px;
                    h2{
                        font-size: 24px;
                        img{
                            max-width: 150px;
                        }
                    }
                }
                .music-player{
                    margin: 0px 0px 62px !important;

                }
               &.left-box{
                    left: 64px;
               }
               &.right-box{
                   right: 46px;
               }
            } 
        } 
    }
    .summary-full-banner{
        padding-right: 235px;
        height: 350px;
        .text-wrapper{
            h2{
                font-size: 32px;
            }
            .bottom-box{
                img{
                    width: 137px;
                }
            }
        }
        .img-container{
            right: 12px;
            width: 200px;
        }
        &.howto-hire-banner{
            .center-text-container{
                padding: 30px 15px;
               .title-text{
                   font-size: 30px;
               } 
            }
        }
        &.testimonial-banner{
            height: auto;
        }
    } 
    .clients-useus{
        margin-bottom: 15px;
    }
    .site-content .review-card .wizard-form  .form-group.row{
        flex-wrap: wrap;
    }
    .site-content .review-card .wizard-form  .form-group.row .label-col{
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
    .site-content .review-card .wizard-form  .form-group.row .ctrl-col{
        h3{
            br{
                display: none;
            }
        }
    }
    .myAcc-artist-card{
        padding-bottom: 0px !important;
        .media{
            flex-direction: column;
            padding-right: 0px;
            align-items: center;
            text-align: center;
            img{
                margin-bottom: 20px;
                margin-right: 0px !important;
            }
            .media-body{
                padding-bottom: 20px;
                margin-bottom: 25px;
            }
            .app-button,.custom-switch{
                position: static;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .site-content{
        .content-header {
            .left-box{
                width: 100%;
                min-width: 100%;
                text-align: center;
                margin-bottom: 20px;
                justify-content: center;
            }
            &.two-column{
                width: 100%;
                justify-content: center;
            }
        }
        .app-card.person-card {
            .content-box h4 span{
                display: block;
                margin-left: 0;
                padding-top: 6px;
            }
        }
        .app-card.big-title-card{
            .card-header{
                .card-title{
                    font-size: 22px;
                }
            }
        }
        .app-card.ico-text-card{
            img{
                max-height: 70px;
            }
        }
        /*-------use-section--------*/
        .use-section{
            .step{
                .icon-wrapper{
                    width: 142px;
                    height: 142px;
                    padding: 30px;
                }
                .text-wrapper{
                    span.step-count{
                        font-size: 65px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 19.02px;
                        padding-right: 5px;
                    }
                } 
            } 
        }
        .testimonials-container .list-group .list-group-item{

            .inner-wrapper{
                &:before, &:after{
                    font-size: 18px;
                }
                &:before{
                    left: -20px;
                    top: -26px;
                }
                &:after{
                    right: -11px;
                }
            }
        } 
        .back-to-page {
            position: static;
            margin-bottom: 40px;

        }
        .how-to-section{
            .howto-points{
                .row{
                    flex-wrap: wrap;
                    margin-bottom: 90px;
                    .col{
                        min-width: 100%;
                    }
                    .img-col{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .text-col{
                        order: 1;
                    }

                }
            }
            .connect-line{
                display: none;
            }
        }
        .jobs-audition-info .nav-link{
            padding-right: 15px !important;
        }
        .artist-info-box{
            flex-wrap: wrap;
            .col{
                min-width: 100%;
                &:first-child{
                    margin-bottom: 35px;
                    border-right: none !important;
                }
                &:last-child{
                    padding-left: 15px !important;
                }
            }
        }
        .payment-container .promocode-input{
            width: 168px;
        }
        .voice-recording-page{
            .place-info-cards{
                .row{
                    margin-left: -15px;
                    margin-right: -15px;
                    .cardinfo-col{
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
                .place-info-card{
                    margin-bottom: 30px !important;
                    .card-header{
                        padding: 16px 32px;
                        .card-title{
                            font-size: 25px;
                        }
                    }
                    .card-body{
                        ul{
                            padding-left: 16px;
                        }
                    }
                }
            } 
        } 
        .wizard-form{
            .form-group.row{
                flex-wrap: wrap;
                .label-col{
                    width: 100%;
                    min-width: 100%;
                    max-width: none;
    
                }
                .ctrl-col{
                    width: 100%;
                }
            }
        }
    } 
    .page-banner.audio-engineer .text-wrapper{
        padding-left: 0px;
    }  
    .app-card.large-icon-card{
        .card-text-wrapper{
            .wrap-list{
                height: auto !important;
            }
        }
    }
    .submitted-demo-page{
        .microphone-image {
            display: none;
        }
    } 
    .record-page{
        .page-header{
            font-size: 26px;
        }
        .info-text-block{
            justify-content: flex-start !important;
            .info-text{
                margin-right: 25px;
                i{
                    font-size: 20px;
                }
            } 
        }
        .app-card.myAcc-artist-card {
            .app-user-img{
                margin-right: 0px !important;
                margin-bottom: 15px;
            }
            .media-body{
                margin-bottom: 0px;
            }
            .right-action-box{
                padding-bottom: 14px;
            }
        }
    }
     
}
@media (min-width: 1024px) and (max-width: 1250px){
    .site-content .jobs-audition-info .nav-link{
        padding-top: 12px;
        padding-right: 10px;
        padding-bottom: 12px;
        height: 56px;
    }
    .site-content .jobs-audition-info .nav-link i{
        font-size: 22px;
    }
    .site-content .jobs-audition-info .nav-link span{
        font-size: 13px;
        line-height: 16px;
        width: 112px;
    }
}
@media(max-width: 1250px){
    .summary-info-page{
        .tab-myPaidProjects{
            .grid-search{
                top: 15px;
                .app-input-ico{
                    min-width: 230px;
                }
            }
        }
    }
    .howto-section{
        padding: 0 90px;
        flex-direction: column;
        align-items: center;;
        .img-box{
            order: 1;
            min-width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 30px;
            text-align: center !important;
        }
        .text-info-box{
            order: 2;
            min-width: 100%;
            flex-direction: column;
            align-items: center;
            .count{
                order: 1;
                flex-direction: column;
                i{
                    order: 1;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    margin-bottom: 10px;
                    font-size: 26px;
                    &:before{
                        content: "\f077";
                    }
                }
                span{
                    order: 2;
                    font-size: 40px;
                }
            }
            .summary-text{
                order: 2;
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
        }
    }
}
@media(max-width: 1200px){
    .summary-info-page{
        .site-content{
            .page-banner{
                flex-wrap: wrap;
                .text-wrapper{
                    width: 100%;
                    order: 2;
                    text-align: center;
                    p{
                        padding-right: 0px;
                    }
                } 
                .img-container{
                    min-width: 100%;
                    max-width: 100%;
                    margin-bottom: 40px;
                    text-align: center;
                    align-items: flex-start;
                    justify-content: center;
                    img{
                        position: static;
                        width: 310px;
                        transform: none;
                        margin-top: 0;
                    }
                }
                &.thankyou-banner, &.testimonials-banner{
                    .text-wrapper{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
                &.voiceover-audition-banner{
                    .img-container{
                        margin-right: 0px !important;
                    }
                    .text-wrapper{
                        padding-left: 0px !important;
                    }
                }
                &.jobs-audi-banner{
                    .text-wrapper {
                        .select-cur-lov{
                            flex-wrap: wrap;
                            justify-content: center;
                            &>label{
                                display: block;
                                width: 100%;
                                min-width: 100%;
                            }
                        }
                    }
                }
            } 
            .contact-blocks{
                .card{
                    flex-direction: column !important;
                    img{
                        width: auto;
                        height: 34px;
                        margin-bottom: 15px;
                    }
                    a{
                        padding-left: 0px !important;
                    }
                }
            }
        } 
        &.voice-page{
            .voice-person-info{
                flex-wrap: wrap;  
                padding-bottom: 20px;                  
                .person-info-wrapper{
                    width: 100%;
                    min-width: 100%;
                    padding-right: 0px;
                    max-width: none;
                }
                .summary-info{
                    width: 100%;
                    min-width: 100%;
                    padding-left: 0px;
                }
            } 
            .site-content .app-card.best-voice-actor{
                min-height: 505px;
            }
        } 
    }
}
@media(max-width: 1199px){
    .booking-list-blocks{
        .border-right{
            border-right: none !important;
        }
    } 
}
@media(max-width: 1140px){
    .site-content{
        .content-header {
            .center-box, .right-box{
                width: 100%;
            }
            .user-info{
                h2{
                    font-size: 22px;
                    margin-bottom: 2px;
                }
            } 
            .offer-lbl{
                text-align: center;
                &:after{
                    padding-left: 27px;
                    content: "";
                    position: absolute;
                    left: -1px;
                    top: 0;
                    border-width: 23px 20px 23px 20px;
                    border-style: solid;
                    border-color: transparent transparent transparent #fff;
                }
            }
            .help-link{
                span{
                    font-size: 14px;
                }
            } 
            .left-box{
                margin-bottom: 12px;
            }
            .center-box{
                order: 1;
            }
            .right-box{
                justify-content: center;
                margin-bottom: 15px;
            }
        }
        .search-bar{
            .btn-box{
                button{
                    min-width: 45px;
                    height: 45px;
                    padding: 0px;
                    i{
                        vertical-align: baseline;
                    }
                    span{
                        display: none;
                    }
                }
            } 
        } 
        .use-section{
            .steps-use{
                flex-direction: column;
                align-items: center;
            }
           .step{
               flex-direction: row;
               width: auto;
               margin-bottom: 20px;
               max-width: 485px;
               &:last-child{
                   margin-bottom: 0px;
               }
               .icon-wrapper{
                   margin-right: 40px;
               }
           } 
           .step.pos-up-down{
               .icon-wrapper{
                   margin-bottom: 0px;
               }
           } 
           .step.pos-down-up{
               padding-top: 0px;
               flex-direction: row;
               .icon-wrapper {
                   margin-top: 0px;
               }
   
           }
           .step-connect-line{
               display: none;
           }
       }
       .quick-cast-page,.voice-recording-page{
           .way-to-hire{
                .hire-steps {
                    .step{
                        .img-container{
                            height: 100px;
                            width: 100px;
                        }
                        h4,p{
                            font-size: 16px;
                        }
                    }
                    .step-connect-line{
                        top: 51px;
                    } 
                }
            } 
        } 
        
    } 
    .offer-lbl{
        height: auto;
        line-height: normal;
        padding: 10px 15px;
        text-align: center;
        &::before{
            display: none;
        }
    }
   .site-content .satisfaction-container{
        .col-points{
            padding-right: 15px;
            padding-left: 15px;
            
        }
    }
    .signin-page .microphone-image{
        // display: none;
        width: 290px;
        top: 33%
    }
    .dropzone-container-main .upload-item-card .file-name{
        margin-top: 5px;
        margin-bottom: 4px;
        max-width: none !important;
        font-size: 14px;
        padding-right: 8px;
        white-space: normal !important;
        word-break: break-all;
    }
    .num-lbl-header{
        line-height: 20px !important;
        span{
            font-size: 18px !important;
            margin-right: 5px !important;
        }
    }
    
}
@media(max-width: 1024px){
     /*--------main footer-------*/
    body .main-footer{

        .footer-top{
             .inner-wrapper{
                .foot-col{
                    width: 33%;
                    text-align: left;
                    h4{
                        text-align: left;
                    }
                }
            }
         }
         .footer-bottom{
            padding: 10px 0px;
            .inner-wrapper{
                flex-wrap: wrap;
            }
            .social-icons{
                justify-content: flex-start;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                width: 100% !important;
                margin-bottom: 20px;
                padding: 0 15px;
                text-align: center !important;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
         }
    } 
    
    /*--------responsive header-----*/
    .summary-info-page{
        padding-left: 0px;
        .summary-info-main-wrapper{
            padding-left: 0px;
        }
        .site-content{
            padding-left: 30px;
        }
        .top-action-header{
            padding-left: 30px;
            padding-right: 30px;
            background: #114251;
            .center-box.responsive-menu{
                position: fixed;
                z-index: 4;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background: #fafafa;
                flex-direction: column;
                display: block;
                padding: 0 20px;
                margin: 0;
                padding-top: 60px;
                left: -100%;
                .menu-close-btn{
                    display: inline-block;
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    font-size: 24px;
                    color: #114251;
                }
                .btn-group{
                    width: 100%;
                }
                .btn.app-button{
                    width: 100%;
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                    padding-left: 22px;
                    i{
                        font-size: 18px;
                        margin-right: 21px;
                    }
                    span:not(.info-tooltip-ico){
                        width: auto;
                        font-size: 16px;
                    }
                    .tooltip-wrapper{
                        right: 25px;
                    }
                    &.dropdown-toggle:before{
                        right: 25px;
                        font-size: 22px;
                    }
                }
                .balance-info{
                    width: 100%;
                    text-align: left;
                    height: auto;
                    width: calc(100% - 25px);
                    margin-left: auto;
                    margin-right: auto;
                    padding: 12px 18px;
                }
                .side-menu{
                    position: static;
                    width: 100%;
                    display: block;
                    left: 0;
                    height: auto;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
            a.main-logo {
                padding-top: 8px;
                width: 290px;
            }
            .menu-toggle-btn{
                display: block;
                font-size: 28px;
                color: #fff;
            }
            .left-box{
                position: static;
                width: auto;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
            }
            .right-box{
                padding-right: 0px;
                .profile-visibility .profile-visibility-btn i{
                    color: #fff;
                }
                .dropdown-menu{
                    margin-top: 0;
                    transform: none !important;
                    left: auto !important;
                    right: 0;
                    top: 51px !important;
                }
                .alert-box {
                    .alert-btn{
                        color: #fff;
                        i:after{
                            border-color: #114251;
                        }
                    }
                }
                .profile{
                    display: none;
                }
                .other-actions{
                    .other-actions-btn{
                        padding: 0px;
                        height: 38px;
                        width: 38px;
                        background-color: transparent;
                        .user-img{
                            display: block;
                            border: 2px solid #fff;
                            border-radius: 50%;
                        }
                        i{
                            display: none;
                        }
                    }
                } 
            }
        } 
        &.voice-page{
            min-height: auto;
            .site-content .app-card.best-voice-actor{
                min-height: 620px;
            }
        }
    }
    .sidemenu-expand{
        overflow: hidden;
        .summary-info-page .top-action-header .center-box.responsive-menu{
            left: 0px;
        }
    } 
    .site-content .page-banner.thankyou-banner .text-wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .border-style-table{
        thead{
            th{
                padding: 12px 8px;
            }
        }
        tbody{
            td{
                padding: 7px 8px;
                font-size: 13px;
            }
        }
    }
    .app-table tbody td {
        padding: 7px 8px;
        font-size: 14px;
      }
      
    .app-table.dark-header-style tbody td{
        font-size: 14px;
    }
    .signin-page .microphone-image{
        width: 200px;
        top: 33%;
    }
}
@media(max-width: 768px){
    .signin-page .microphone-image{
        display: none;
    }
    .summary-full-banner.agencies-info-banner .app-card{
        min-height: auto;
    }
    .count-summary-section {
        .ico-box{
            margin-top: 20px;
            height: auto;
        }
        h2 {
            font-size: 25px;
            margin-bottom: 5px;
        }
        p {
            font-size: 16px;
        }
    }
    .compare-section {
        min-height: 506px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .summary-text-banner{
        margin: 0px 0px;
    }
    .summary-full-banner{
        padding-right: 0px;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        .text-wrapper{
            width: 100%;
            text-align: center;
            padding: 30px;
            .bottom-box{
                justify-content: center;
                button{
                    min-width: auto;
                }
            }
            
        }
        .img-container{
            display: none;
        }
        &.voice-recording-banner{
            padding: 10px !important;
            .text-wrapper{
                text-align: left !important;
                .text-bg-box{
                    padding-left: 15px;;
                    margin-bottom: 10px;
                    .large-text{
                        font-size: 20px;
                    }
                    &.with-icon{
                        padding-left: 68px;
                        img{
                            left: 17px;
                        }
                    } 
                }
            }
        }
    }
    .booking-list-blocks{
        .border-right{
            border: none !important;
        }
    }
    .line-sep-geader{
        &:before{
            display: none;
        }
    }
    .fixed-tooltip-sec{
        flex-wrap: wrap;
        justify-content: center;
        .tooltip-fixed{
            width: 100%;
            order: 1;
            margin-right: 0;
            &:before{
                left: 50%;
                top: -19px;
                right: auto;
                margin: auto;
                border-left-color: transparent;
                border-bottom-color: #f5f5f5;
                @include css3-prefix(transform, translateX(-50%));
            }
        }
        .tooltip-link{
            margin-bottom: 20px;
        }

    }
    .app-badge{
        white-space: normal;
        font-size: 14px;
        margin-right: 18px;
        &:before{
            display: none;
        }
    }
    
    /*--------main footer-------*/
    body .main-footer .footer-top{
         .app-sec-padding{
             padding: 35px 0;
         }
        .inner-wrapper{
           .foot-col{
               width: 100% !important;
               min-width: auto;
                max-width: none;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .social-icons{
                    margin-bottom: 25px;
                    justify-content: center;
                }
                &.logo-col{
                    display: none;
                }
                
           }
       }
    }
    body .main-footer .footer-bottom{
        .responsive-logo-box{
            display: block;
            .social-icons{
                justify-content: center;
            }
        }
        p.center{
            display: none;
        }
        p.left{
            order: 1;
            font-size: 14px;
            padding-top: 28px;
            padding-bottom: 20px;
            max-width: 320px;
            margin: 0 auto;
        }
    }
   
    /*-----site content------*/
    .summary-info-page {
        
        .top-action-header{
            padding-left: 8px;
            padding-right: 15px;
            margin-bottom: 0px;
             a.main-logo {
                width: 243px;
            }
        }
        .keep-res-pad{
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
        .site-content{
            padding-left: 0px;
            padding-right: 0px;
            .content-header{
                order: 1;
                max-width: 358px;
                margin: 0 auto;
                .help-link {
                    margin-right: 20px;
                }
            }
            .search-bar{
                margin-bottom: 21px;
                border-radius: 0px;
                .gender-input,.language-input,.age-input{
                    display: none;
                }
                .keywords-input{
                    position: relative;
                    input{
                        border: none;
                    }
                    &:before{
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\f067";
                        position: absolute;
                        right: 20px;
                        top: 14px;
                        font-size: 20px;
                        color: #114251;
                    }
                }
                .btn-box button{
                    background-color: #ffa626;
                    border-color: #ffa626;
                }
            }
            .cards-row{
                margin-top: 21px;
                .row{
                    margin-left: 0px;
                    margin-right: 0px;
                    .col{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
                .card{
                    box-shadow: none;
                    height: auto;
                    border-top: 1px solid #dcdcdc;
                    border-radius: 0px;
                    border-bottom: none;
                    padding-bottom: 4px;
                    .card-header{
                        height: auto;
                        padding-top: 18px;
                        padding-left: 15px;
                        padding-right: 15px;
                        border-bottom: none;
                    }
                    .list-group {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .list-group-item{
                            width: 50%;
                        }
                    }
                    &.recipt-card{
                        .card-header{
                            padding-bottom: 9px;
                        }
                        .list-group{
                            display: block;
                            position: absolute;
                            left: 50%;
                            width: 50%;
                            .list-group-item{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .app-alert{
                display: none;
            }
            .page-banner,.voice-person-info{
                padding: 0 20px;                
            }
            .page-banner .text-wrapper h4{
                font-size: 20px;
            }
            .faq-container{

                .card-header .btn-link{
                    padding: 10px 50px 10px 15px;
                    font-size: 16px;
                    line-height: 1.5;
                }
                .card-body{
                    padding: 10px 15px;
                    p{
                        font-size: 14px;
                    }
                } 
            } 
            .quick-cast-page{
                .points-banner{
                    margin-left: 0px;
                    margin-right: 0px;
                    padding: 45px 15px;
                    .sec-title{
                        font-size: 35px;
                    }
                    .sub-title{
                        font-size: 28px;
                        margin-bottom: 40px;
                    }
                    .banner-content{
                        flex-wrap: wrap;
                    }
                    .img-box{
                        text-align: center;
                        max-width: none;
                        width: 75%;
                        margin: 0 auto;
                        min-width: 300px;
                    }
                    .points-list{
                        padding-left: 0px;
                        min-width: 100%;
                    }
                }
            } 
            .subscribe-outer{
                padding: 0 15px;
            }
            .section-subscribe{
                margin-right: 0px;
                border-radius: 10px !important;
                margin-top: 20px;
                margin-bottom: 20px;
                .app-container{
                    flex-wrap: wrap;
                    h2{
                        width: 100%;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .form-inline{
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: center;
                        .form-group{
                            margin: 0px 5px 15px!important;
                            width: 45%;
                            min-width: 150px;
                            input{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .page-wizard{
                .bottom-box{
                    padding-left: 0px;
                }
            }
            
            .logo-note-box{
                img.logo{
                    margin-right: 0px;
                    min-width: auto;
                    max-width: 100%;
                }
            }
            .lblval-list{
                li {
                    flex-wrap: wrap;
                    label,p{
                        font-size: 16px;
                        margin-bottom: 0px;
                        min-width: 100%;
                    }
                   
                }
            }
            .tab-myPaidProjects{
                .grid-search{
                    position: static;
                    width: 100%;
                    margin-bottom: 10px;
                    .app-input-ico{
                        min-width: 230px;
                        flex: 1
                    }
                    .btn{
                        min-width: auto;
                        span{
                            display: none;
                        }
                    }
                }
            }
            .faq-title{
                font-size: 25px;
            }
        }
        &.voice-page{
            .site-content{

                .app-card.best-voice-actor{
                    min-height: 500px;
                }
                .search-bar{
                    margin-bottom: 20px;
                }
            }
            
        } 
        .quick-cast-page{
            .way-to-hire{
                padding: 30px 15px;
                .sec-title{
                    font-size: 30px;
                    margin-bottom: 45px;
                }
                 .hire-steps {
                    .inner-wrapper{
                        flex-wrap: wrap;
                        margin-bottom: 55px;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        &.second-process{
                            max-width: none;
                        }
                    }
                     .step{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .img-container {
                            height: 80px;
                            width: 80px;
                            padding: 16px;
                        }
                        .text-wrapper{
                            text-align: left;
                            padding-left: 15px;
                            white-space: normal;
                        }
                     } 
                     .step-connect-line{
                         display: none;
                     }
                 }
             } 
        } 
        .app-banner-vertical{
            height: 245px;
            h2{font-size: 35px;}
            p{
                font-size: 18px;
            }
        }
    }
    /*---------voice-casting-comp---------*/
    .voice-casting-comp{
        .comp-col{
            padding: 15px !important;
        }
    }
    
    &.contact-page{
        .banner-title{
            font-size: 22px;
        }
        .app-btn-green.btn-lg,
        .app-btn-yellow.btn-lg{
            line-height: normal !important;
            padding: 9px 5px !important;
            height: auto !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    } 
    /*other*/
    .site-content .tab-content.arrow-style > .card.tab-pane{
        border: none;
    }
    .site-content .tab-content.arrow-style > .card.tab-pane > [role="tabpanel"] > .card-body{
        padding: 18px 0px !important;
    }
    .site-content .satisfaction-container{
        .col-points{
            h4{
                min-height: auto;
            }
        }
    }
    .cast-process-container{
        .process-step-list{
            margin-bottom: 50px !important;
        }
        .app-card.ico-text-card{
            padding: 22px 15px 5px;
            margin-bottom: 30px !important;
        }
    }
    .process-step-list{
        li{
            height: auto;
            .list-count{
                font-size: 60px;
                font-size: 68px;
                width: 55px;
                min-width: 60px;
                text-align: center;
                line-height: 54px;
                height: 48px;
            }
            .text{
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    .voiceover-glossary-page{
        .summary-info{
            h4{
                margin-bottom: 15px !important;
            }
            h2{
                font-size: 28px !important;
            }

        }
    }
    .voiceover-ourdiff-page{
        .text-wrapper{
            h2{
                font-size: 26px !important;
            }
        }
    }
    .app-card.large-icon-card{
        .card-body{
            flex-direction: column;
            .img-box{
                margin-bottom: 20px;
                img{
                    max-height: 100px;
                }
            }
        }
    }
    .site-content .page-wizard .sec-list{
        margin-bottom: 20px;
    }
    .border-style-table thead th {
        padding: 6px 3px;
        font-size: 14px;
    }
    .site-content .paymentrecipt-card .card-header h3{
        font-size: 20px !important;
    }
    .site-content .app-card.person-card .content-box .action-lbl{
        margin-right: 0px;
        width: 100%;
    }
    .site-content .benefits-list li {
        padding: 15px 0;
    }
    .line-sep-geader{
        margin-bottom: 10px !important;
        span{
            padding: 0px;
            font-size: 20px;
        }
    }
    .tooltip-wrapper .app-tooltip .tooltip-content{
        min-width: 178px;
        max-width: 178px;
    }
    .page-fold-style .card.app-card{
        padding-bottom: 30px !important;
    }
    .font-35,.font-40,.font-30,.font-38,.font-45{
        font-size: 25px !important;
    }
    .font-25{
        font-size: 20px !important;
    }
    .mar-b-90, 
    .mar-b-80,
    .mar-b-100,
    .mar-b-70{
        margin-bottom: 30px !important;
    }
    .mar-b-40{
        margin-bottom: 20px !important;
    }
    .app-table{
        thead{
            th{
                padding: 5px 15px;
            }
        } 
        tbody{
            td{
                padding: 10px 15px;
            }
        }
    } 
    .submitted-demo-page{
        .logo-box{
            .logo-main{
                img{
                    max-width: 100px;
                }
            }
            .logo-sub{
                img{
                    max-width: 290px;
                }
            }
        }
        .desc-text{
            font-size: 16px;
            line-height: 25px;
        }
        .app-table-black{
            padding: 14px 0px;
        }
        .auth-text {
            font-size: 18px;
            padding: 20px 0px;
        }
    }
    .app-table-black{
        thead{
            th{
                font-size: 14px;
                min-width: 150px;
            }
        } 
        tbody{
            td{
                font-size: 14px;
                padding: 8px 3px; 
            }
        }
    } 
    .how-to-section{
        padding-left: 0px;
    }
    .dropzone-container-main{
        .default-message{
            h2{
                font-size: 22px;
                margin-bottom: 20px;
                line-height: 20px;
            }
            img{
                margin-bottom: 12px;
                height: 30px;
            }
            a {
                font-size: 16px;
            }
        }
        .dropzone{
            .card-outer{
                width: 100%;
            }
        }
    }
    .record-page{
        .detail-info-blocks{
            flex-wrap: wrap;
            .left-box{
                min-width: 100%;
                padding-right: 0px;
                margin-bottom: 20px;;
            }
            .right-box{
                min-width: 100%;
            }
        }
    } 
    .howto-hire-page{
        .sec-sub-title{
            margin-bottom: 42px;
        }
    } 
    .benefit-box {
        margin-bottom: 12px;
    }
    .howto-section{
        padding: 0 42px;
    }
    .howwitork-box{
        padding: 30px 0px;
        .connect-line {
            width: 26px;
            bottom: -69px;
        }
        &.right-sided {
            .connect-line {
                left: -38px;
            }
        }
        &.left-sided {
            .connect-line {
                right: -38px;
            }
        }
    }
}
@media (max-width: 575px){
    .compare-section{
        min-height: 366px;
        .compare-box{
            max-width: 290px;
            .music-box{
                top: 70px;
                .logo-box {
                    h2{
                        font-size: 18px;
                        img{
                            max-width: 130px;
                        }
                    }
                }
                .music-player{
                    margin: 0px 0px 42px !important;
                    .ui360, .sm2-360ui{
                        width: 60px;
                        height: 60px;
                    }
                }
                &.left-box{
                    left: 4px;
                }
                &.right-box{
                    right: -14px;
                }
            }
        }
    } 
    .testimonial-slider{
        .media{
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            .logo{
                margin: 0px !important;
            }
            .media-body{
                margin-top: 20px;
                border-left: none !important;
                border-top: 1px solid #434344;
                padding: 20px 15px 0px !important;
                text-align: center;
            }
        }
        .owl-nav button{
            position: static;
            margin-top: 15px !important;
            height: 30px !important;
            line-height: 30px !important;
            span{
                height: 30px!important;
                line-height: 30px !important;
            }
        }
    }
    .summary-full-banner{
        .text-wrapper{
            padding: 20px 15px;
            .bottom-box{
                flex-wrap: wrap;
                img{
                    width: 117px;
                }
            }
        }
    } 
    .btn.account-type-btn{
        white-space: normal !important;
        line-height: 25px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .res-575-w-100{
        width: 100%;
        min-width: 100%;
    }
    .form-inline.app-inline-ele{
        .form-group, label{
            min-width: 100%;
        }
    }
    .summary-info-page {
        .top-action-header{
            padding-left: 0px;
            padding-right: 8px;
            a.main-logo {
                width: 147px;
                padding-top: 14px;
                padding-left: 0px;
                padding-right: 10px;
            }
            .right-box{
                .profile-visibility .profile-visibility-btn i{
                    font-size: 20px;
                }
                .alert-box .alert-btn {
                    padding: 0 5px;
                    font-size: 18px;
                }
                .other-actions .other-actions-btn {
                    height: 28px;
                    width: 28px;
                }
            } 
            
        } 
        .site-content{
            .back-to-page{
                padding-top: 0px !important;
            }
            .app-card.person-card{
                .left-box{
                    width: 85px;
                    min-width: 85px;
                }
                .content-box{
                    padding-left: 20px;
                    padding-right: 0;
                    .music-player {
                        left: 26px;
                        top: 167px;
                        right: auto;
                        .ui360{
                            min-width: 70px;
                            min-height: 70px;
                        }
                    }
    
                    .btn-box .btn-wrapper{
                        button{
                            width: 100%;
                        }
                    } 
                }
                &.less-info-card{
                    .content-box{
                        padding-right: 0px !important;
                        text-align: center;
                        .music-player{
                            position: static;
                            display: inline-block;
                            margin-top: 30px;
                        }
                    }
                }
                &.large-card{
                    flex-wrap: wrap;
                    .left-box{
                        min-width: 100% !important;
                        .user-img{
                            margin: 0 auto;
                            margin-bottom: 30px;
                        }
                    } 
                    .content-box{
                        text-align: center;
                        p,.rating-info{
                            justify-content: center;
                        }
                        .inner-row{
                            flex-wrap: wrap;
                
                            .inner-col{
                                width: 100%;
                                padding: 0px !important;
                                justify-content: center;
                            }
                        }
                        .note-text{
                            margin-bottom: 20px;
                        }
                    } 
                    .music-player{
                        position: static;
                    }
                }
                &.audio-engineer-card {
                    flex-wrap: wrap;
                    justify-content: center;
                    .left-box{
                        .user-img{
                            margin: 0 auto;
                            margin-bottom: 30px;
                        }
                    } 
                    .content-box{
                        min-width: 100% !important;
                        text-align: center;
                        p,.rating-info{
                            justify-content: center;
                        }
                        .inner-row{
                            flex-wrap: wrap;
                
                            .inner-col{
                                width: 100%;
                                padding: 0px !important;
                                justify-content: center;
                            }
                        }
                        .note-text{
                            margin-bottom: 20px;
                        }
                        .btn-box{
                            justify-content: center !important;
                            margin-bottom: 10px;
                            .dropdown,button{
                                width: 100% ;
                                margin-right: 0px;
                            }
                        }
                    } 
                    .music-player{
                        position: static;
                        text-align: center;
                        .sm2-360ui{
                            float: none;
                        }
                    }
                }
                &.trnsService-card{
                    .content-box{
                        padding-right: 0px !important;
                    }
                    .music-player{
                        position: static !important;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        padding: 10px 0;
                    }
                    .label-box,.btn-box{
                        justify-content: center !important;
                        &>span{
                            display: block;
                            width: 100%;
                            text-align: center;
                        }
                        .left-side,.right-side{
                            margin-right: 0px !important;
                            white-space: normal !important;
                            justify-content: center;
                            span{
                                display: block;
                                width: 100%;
                                margin-right: 0px !important;
                                text-align: center
                            };
                        }
                        .left-side,.right-side{
                            flex-wrap:  wrap;
                            .btn{
                                width: 100%;
                                margin-right: 0px !important;
                            }
                        }
                    }
                }
            }
            .app-card.preferred-voice{
                .ui360, .sm2-360ui{
                    min-width: 50px;
                    min-height: 50px;
                    width: 50px;
                    height: 50px;
                }
            }
            .page-banner {
                .text-wrapper{
                    .ex-large-font{
                        font-size: 75px;
                    }
                    .btn-box{
                        button{
                            width: 100%;
                            margin-left: 0px !important;
                            margin-right: 0px !important;
                        }
                    }
                } 
            }
            /*-------use-section--------*/
            .use-section{
                h2.app-sec-header img{
                    display: block;
                    margin: 12px auto;
                }
                .steps-use{
                    
                align-items: flex-start;
    
                }
                .step{
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .icon-wrapper{
                        width: 80px;
                        height: 80px;
                        min-width: 80px;
                        min-height: 80px;
                        margin-right: 15px;
                        img{
                            max-width: 45px;
                        }
                    }
                    .text-wrapper p{
                        max-width: none;
                    }
                    .text-wrapper span.step-count{
                        min-width: 32px;
                        font-size: 45px;
                    }
                } 
            }
            /*--------testimonial section----*/
            .testimonials-container{
    
                .list-group{
        
                    .list-group-item{
                        padding: 30px 0 !important;
                        .inner-wrapper{
                            flex-wrap: wrap;
                            &:before,&:after{
                                display: none;
                            }
                            .left-box{
                                max-width: none;
                                width: 100%;
                                text-align: center;
                                .user-img-box{
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                            .right-box{
                                padding-left: 0px;
                            }
                        }
                    }
                } 
            } 
            .app-banner-vertical{
                background-size: 1262px;
                height: 315px;
            }
        } 
        &.voice-page{
            .site-content .app-card.best-voice-actor{
                min-height: 440px;
                text-align: center;

                h2{
                    font-size: 22px;
                    line-height: 26px;
                    margin-bottom: 12px;
                }
                p{
                    font-size: 13px;
                }
            }
           .site-content{
               .page-banner {
                   .text-wrapper {
                       h2 {
                            font-size: 30px;
                            line-height: 1;
                        }
                   }
               }
           } 
        } 
    }
    .btn-res-auto-height{
        height: auto !important;
        line-height: normal !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .equipment-box{
        .inline-lbl-val{
            padding: 0 18px;
            flex-wrap: wrap;
            label,span{
                min-width: 100%;
            }
            &>span{
                padding-left: 33px;
            }
        }
    }
     /*---------voice-casting-comp---------*/
     .voice-casting-comp{
         .border-right{
             border-color: transparent !important;
         }
    }
    .voice-box{
        &.voice-box{
            flex-direction: column;
            align-items: center;
            .music-player{
                margin-right: 0px !important;
                margin-bottom: 12px;
            }
            .app-button, .status-lbl{
                display: block;
                width: 100%;
            }
            .btn-box-right{
                justify-content: center;
            }
            .media-body{
                padding-left: 0;
                text-align: center;
                padding-right: 0px !important;
            }
            .star-rating{
                justify-content: center;
                margin-right: 0px;
            }
        }
    }
    .site-content .app-card.job-info-card{
        .inner-row{
            flex-wrap: wrap;
            .ctrl-lbl{
                margin-bottom: 5px;
            }
            .val-col{
                padding-left: 0px;
            }
            .ctrl-lbl, .val-col{
                min-width: 100%
            }
        }
        .card-footer{
            flex-wrap: wrap;
            flex-direction: column;
            label{
                margin-bottom: 10px;
            }
        }
    } 
    .signin-page .signin-box{

        .card.login-card{
            padding: 22px 15px;
            .box-title{
                font-size: 25px;
                margin-bottom: 18px;
            }
            .footer-box{
                flex-direction: column;
                align-items: center;
                .custom-control{
                    margin-bottom: 16px !important;
                }
            }
        }
    } 
    .mul-ctrls-box{
        .ctrl-box{
            .form-group{
                margin-bottom: 5px;
            }
            .middle-text{
                text-align: center;
                margin-right: 0px !important;
            }
            .btn.circle-btn{
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
            }
        }
    }
    .app-note{
        .close-btn{
            top: 0px;
            transform: none;
        }
    }
    .site-content .jobs-audition-info .card.tab-pane .card-header[role='tab'] a i{
        font-size: 20px;
        margin-right: 6px;
    }
    .process-step-list li .list-count{
        font-size: 35px;
    }
}

@media(max-width: 410px){
   
    .summary-info-page .site-content .content-header {
        max-width: 300px;
    }
    .site-content .content-header .offer-lbl{
        font-size: 18px;
    }
    .site-content .content-header .help-link span {
        font-size: 12px;
    }
    .site-content .content-header .action-btn{
        min-width: 165px;
        padding: 0;
        height: 38px;
        line-height: normal;
    }
    .summary-info-page .site-content .cards-row .card .list-group .list-group-item{
        width: 100%;
    }
    .summary-info-page .site-content .cards-row .card.recipt-card .list-group{
        position: static;
        width: 100%;
    }
    .sidemenu-expand .summary-info-page .top-action-header .center-box.responsive-menu{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 50px;
        .menu-close-btn {
            right: 0px;
            top: 10px;
            font-size: 17px;
        }
    }
   
    .summary-info-page.voice-page .site-content .app-card.best-voice-actor {
        min-height: 405px;
        text-align: center;
    }
    .summary-info-page .site-content .section-subscribe{
        .app-container{
            .form-inline{
                .form-group{
                    width: 100%;
                    margin-left: 0px !important ;
                    margin-right: 0px !important ;
                }
                button{
                    width: 100%;
                }
            }
        }
    }
}


