@font-face {
  font-family: 'thevoicerealm-icons';
  src:  url('../fonts/thevoicerealm-icons.eot?2q5ic');
  src:  url('../fonts/thevoicerealm-icons.eot?2q5ic#iefix') format('embedded-opentype'),
    url('../fonts/thevoicerealm-icons.ttf?2q5ic') format('truetype'),
    url('../fonts/thevoicerealm-icons.woff?2q5ic') format('woff'),
    url('../fonts/thevoicerealm-icons.svg?2q5ic#thevoicerealm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thevoicerealm-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music-note:before {
  content: "\e958";
}
.icon-glob:before {
  content: "\e955";
}
.icon-visibility-off:before {
  content: "\e956";
}
.icon-visibility:before {
  content: "\e957";
}
.icon-stored-card:before {
  content: "\e94b";
}
.icon-recipt:before {
  content: "\e94c";
}
.icon-person:before {
  content: "\e94d";
}
.icon-locked-padlock-1:before {
  content: "\e94e";
}
.icon-quick-cast:before {
  content: "\e94f";
}
.icon-download-ico:before {
  content: "\e950";
}
.icon-search-add:before {
  content: "\e951";
}
.icon-search-fill:before {
  content: "\e952";
}
.icon-equalizer:before {
  content: "\e953";
}
.icon-personal-computer:before {
  content: "\e954";
}
.icon-woman-shape:before {
  content: "\e949";
}
.icon-man-shape:before {
  content: "\e94a";
}
.icon-credit-card-payment:before {
  content: "\e946";
}
.icon-online-shopping:before {
  content: "\e947";
}
.icon-account:before {
  content: "\e948";
}
.icon-chat:before {
  content: "\e941";
}
.icon-audio:before {
  content: "\e914";
}
.icon-budget:before {
  content: "\e91a";
}
.icon-directory:before {
  content: "\e92f";
}
.icon-done:before {
  content: "\e930";
}
.icon-elearning:before {
  content: "\e931";
}
.icon-form:before {
  content: "\e932";
}
.icon-happy-face:before {
  content: "\e933";
}
.icon-headphone:before {
  content: "\e934";
}
.icon-lock1:before {
  content: "\e935";
}
.icon-microphone:before {
  content: "\e936";
}
.icon-microphone2:before {
  content: "\e937";
}
.icon-place-marker:before {
  content: "\e938";
}
.icon-quote-up:before {
  content: "\e939";
}
.icon-quote-down:before {
  content: "\e942";
}
.icon-recorder:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e93b";
}
.icon-shield:before {
  content: "\e93c";
}
.icon-support:before {
  content: "\e93d";
}
.icon-translate:before {
  content: "\e93e";
}
.icon-tv:before {
  content: "\e93f";
}
.icon-video-call:before {
  content: "\e940";
}
.icon-play:before {
  content: "\e901";
}
.icon-pause:before {
  content: "\e911";
}
.icon-square:before {
  content: "\e912";
}
.icon-circle:before {
  content: "\e913";
}
.icon-favourite:before {
  content: "\e91c";
}
.icon-microphone-1:before {
  content: "\e91d";
}
.icon-radio-waves:before {
  content: "\e91e";
}
.icon-invoice-2:before {
  content: "\e91f";
}
.icon-invoice-1:before {
  content: "\e920";
}
.icon-credit-card:before {
  content: "\e921";
}
.icon-user:before {
  content: "\e922";
}
.icon-lock:before {
  content: "\e923";
}
.icon-eye:before {
  content: "\e924";
}
.icon-coin:before {
  content: "\e925";
}
.icon-people:before {
  content: "\e926";
}
.icon-heart-2:before {
  content: "\e927";
}
.icon-down-arrow:before {
  content: "\e928";
}
.icon-left-arrow:before {
  content: "\e943";
}
.icon-up-arrow:before {
  content: "\e944";
}
.icon-right-arrow:before {
  content: "\e945";
}
.icon-help:before {
  content: "\e929";
}
.icon-notification .path1:before {
  content: "\e92a";
  color: rgb(17, 66, 81);
}
.icon-notification .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(17, 66, 81);
}
.icon-notification .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 166, 38);
}
.icon-microphone-black:before {
  content: "\e92d";
}
.icon-menu:before {
  content: "\e92e";
}
.icon-check:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-coin1:before {
  content: "\e903";
}
.icon-dollar-coin:before {
  content: "\e904";
}
.icon-giftbox:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}
.icon-invoice:before {
  content: "\e908";
}
.icon-key:before {
  content: "\e909";
}
.icon-landing-page:before {
  content: "\e90a";
}
.icon-language:before {
  content: "\e90b";
}
.icon-list-text:before {
  content: "\e90c";
}
.icon-loupe:before {
  content: "\e90d";
}
.icon-announcement:before {
  content: "\e90e";
}
.icon-messages:before {
  content: "\e910";
}
.icon-question-mark:before {
  content: "\e915";
}
.icon-ringing:before {
  content: "\e916";
}
.icon-settings:before {
  content: "\e917";
}
.icon-sign-out:before {
  content: "\e918";
}
.icon-sign-out1:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e919";
}
.icon-stopwatch:before {
  content: "\e91b";
}
