@media(min-width: 1921px){
    .app-container {
        // max-width: 1500px;
        // margin: 0 auto;
        padding: 0 15px;
      }
      .front-section-subscribe .form-control{
          max-width: 360px;
      }
}
@media(max-width: 1600px){
    .banner-text{
        padding-left: 76px;
    }
        /*-----------main banner--------*/
    .main-banner{
        height: auto;
        padding-bottom: 42px;
    }
    
    .main-banner1{
        height: auto;
        padding-bottom: 42px;
    }
}
@media(max-width: 1500px){
        .main-wrapper.record-page {
            padding-top: 79px;
        }
       /*------main header --------*/
       .main-header{
        .navbar-brand {
            max-width: 220px;
            margin-right: 40px;
        }
        .navbar-nav > li {

            & > .nav-link {
                padding: 0 10px;
                font-size: 13px; 
            }
            .sub-menu{
                ul{
                    padding-top: 0px;
                    a{
                        font-size: 13px;
                    }
                }
            }
        } 
        .navbar-brand {
            margin-right: 13px;
        }
        .header-search input.form-control {
            max-width: 175px;
            width: 18vw;
            min-width: 130px;
        }
        .contact-info {
            .contact-no{
                font-size: 16px;
                margin-bottom: 0px;
                line-height: 20px;
                padding-top: 4px;
            }
            .contact-mail{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}
@media(max-width: 1366px){
    
     
    /*-----------main-banner-------*/ 
    .main-banner{
        .banner-text{
            padding-left: 76px;
        h2{
            font-size: 45px;
            line-height: 49px;
            margin-bottom: 17px;
        }
    }
        .banner-text ul{
            line-height: 22px;
            li{
                margin-bottom: 6px;
            }
        }
    }
    .main-banner1{
        .banner-text{
            padding-left: 76px;
        h2{
            font-size: 45px;
            line-height: 49px;
            margin-bottom: 17px;
        }
    }
        .banner-text ul{
            line-height: 22px;
            li{
                margin-bottom: 6px;
            }
        }
    }
    /*-------front-use-section--------*/
    .front-use-section{
        .step{
            .icon-wrapper{
                width: 140px;
                height: 140px;  
                // img{
                //     max-width: 60%; 
                // }
            }
            .text-wrapper{

                span.step-count{
                    font-size: 80px;
                    line-height: 27.02px;
                    margin-right: 15px;
                }
                // p{
                //     font-size: 14px;
                //     line-height: 18px;
                //     max-width: 270px;
                // }
            } 

        } 
        .step.pos-up-down{
            .icon-wrapper{
               margin-bottom: 22px;
            }
        } 
        .step-connect-line{
            top: 75px;
        }
        &.single-step{
            .step{
                padding-top: 22px;
                .icon-wrapper{
                    margin-bottom: 15px;
                }
            }
        }
    }
    /*--------post audition ----------*/
    .post-audition .inner-wrapper .right-box{
        padding: 42px 25px;
    }
    .post-audition .inner-wrapper .right-box .bot-action-box{
        margin-right: 0px;
    }
    /*-------why section------*/
    .section-why{
        .reason-box{
            margin-bottom: 25px;
        }
        .inner-row{
            margin-left: -15px;
            margin-right: -15px;
            .col{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .offer-lbl{
            font-size: 20px;
        }
    } 
     /*--------main footer-------*/
     .front-main-footer .footer-top{
        padding: 0 25px;
         .inner-wrapper{
            margin-left: -15px;
            margin-right: -15px;
            .foot-col{
                padding-left: 15px;
                padding-right: 15px;
                ul{
                    a{
                        line-height: 25px;
                    }
                }
            }
        }
     } 
     /*---------------main-nav-links--------------------*/
    .main-nav-links{
        button.app-btn{
            font-size: 18px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}
@media(max-width: 1199px){
    .main-wrapper.record-page {
        padding-top: 60px;
    }
     /*------main header --------*/
    .main-header{
        .navbar-brand{
            margin-right: 0px;
        }
       .navbar-collapse{
           background: #1c1c1f;
           padding: 10px;
           border-radius: 10px;
           margin-top: 15px;
           overflow: auto;
           max-height: calc(100vh - 90px);
           .navbar-nav {
               margin-top: 10px;
               & > li{
                   & > a{
                     padding: 4px 10px;
                   }
                   &.nav-item{
                    padding-top: 5px;
                    padding-bottom: 5px;
                   }
                   .sub-menu{
                       position: static;
                       margin-top: 12px;
                       ul{
                           flex-direction: column;
                           border-bottom: none;
                           a{
                               width: 100%;
                               font-size: 11px;
                           }
                       }
                   }
               }
               
           }
       }
       .header-search{
           .input-group{
               width: 100%;
               input.form-control{
                   flex: 1;
                   max-width: none;
                   height: 35px;
               }
               .input-group-text{
                   height: 35px;
                   top: 0px;
               }
           }
       }
       .navbar-nav {
           .nav-link {
               padding: 8px 9px;
           }
       }
       .contact-info {
           text-align: center;
           padding-top: 10px;
           .contact-no{
               font-size: 14px;
           }
       }
    }
}
@media(max-width: 1140px){
    .main-banner{
        .btn-box{
            white-space: normal;
        }
        .banner-text{
            padding-left: 0px;
        }
    } 
    .app-sec-padding, .app-sec-padding-large, .makeselection-sec-padding {
        padding: 40px 0px;
    }
    .app-sec-header {
        font-size: 36px;
        margin-bottom: 42px;
    }
    /*-----------main-banner-------*/
    .main-banner{
        height: auto;
        padding-bottom: 30px;
        padding-top: 95px;
        .banner-inner-wrapper{
            padding-right: 0;
        }
        .btn-box{
            text-align: center;
            button{
                margin-bottom: 10px;
            }
        }
        .banner-img{
            position: static;
            padding: 0;
            width: 100%;
            text-align: right;
            margin-bottom: 20px;
            padding: 10px 60px 10px 0px;
            img{
                width: 100%;
                max-width: 85%;
            }
        }
    }
    .main-banner1{
        height: auto;
        padding-bottom: 30px;
        .banner-text{
            padding-left: 0px;
        }
        .banner-inner-wrapper{
            padding-right: 0;
        }
        .btn-box{
            white-space: normal;
            text-align: center;
            button{
                margin-bottom: 10px;
            }
        }
        .banner-img{
            position: static;
            padding: 0;
            width: 100%;
            text-align: center;
            img{
                width: 100%;
                max-width: 520px;
            }
        }
    }
     /*------video section----------*/
     .section-video{
        .video-container{

            .video-logo{
                max-width: 245px;
                margin-bottom: 17px;
            
            }
            button{
                width: 90px;
                margin-bottom: 30px;
            }
            h4{
                font-size: 28px;
                margin-bottom: 0px;
            }
        } 
        .video-text-info{
            img{
                width: 280px;
            }
        } 
    } 
    /*--------post audition ----------*/
    .post-audition .inner-wrapper .right-box{
        padding: 25px 25px;
        .form-title{
            font-size: 25px;
            margin-bottom: 22px;
        }
        .bot-action-box{
            
            .custom-control{
                width: 100%;
                margin-bottom: 15px !important;
            }
        }
    }
    /*-------front-section-subscribe----------*/
    .front-section-subscribe{
        .app-container{
            flex-direction: column;
            align-items: center;
            h2{
                margin-bottom: 20px;
            }
            .form-control{
                min-width: 210px;
                margin-bottom: 10px;
            }
            button{
                margin-bottom: 10px;
            }
            .form-inline{
                justify-content: center;
            }
        }
    }
   
    .front-use-section{
        .step{
            .icon-wrapper{
                width: 140px;
                height: 140px;  
                // img{
                //     max-width: 60%; 
                // }
            }
            .text-wrapper{

                span.step-count{
                    font-size: 54px;
                    line-height: 27.02px;
                    margin-right: 15px;
                }
                p{
                    font-size: 14px;
                    line-height: 18px;
                    max-width: 270px;
                }
            } 

        } 
        .step.pos-up-down{
            .icon-wrapper{
               margin-bottom: 22px;
            }
        } 
        .step-connect-line{
            top: 75px;
        }
    }
    .section-why{
        .page-banner{
            flex-wrap: wrap;
            .img-container{
                min-width: 100%;
                text-align: center;
                justify-content: center;
                margin-bottom: 30px;
                img{
                    max-width: 400px;
                }
            }
            .text-wrapper{
                min-width: 100%;
                h3{
                    font-size: 32px;
                }
            }
        }
    }

}
@media(max-width: 1024px){
   
     /*--------main footer-------*/

    body .front-main-footer{

        .footer-top{
             .inner-wrapper{
                .foot-col{
                    width: 33%;
                    text-align: center;
                    h4{
                        text-align: center;
                    }
                }
            }
         }
         .footer-bottom{
            padding: 10px 0px;
            .inner-wrapper{
                flex-wrap: wrap;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                width: 100% !important;
                margin-bottom: 20px;
                padding: 0 15px;
                text-align: center !important;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
         }
    } 
}
@media(max-width: 991px){
    
     
    /*------------note section------*/
    .note-section{
        padding: 20px 0px;
        p{
            font-size: 16px;
            line-height: 24px;
            padding: 0 0px;
        }
    }
     /*-------front-use-section--------*/
     .front-use-section{
         .steps-use{
             flex-direction: column;
             align-items: center;
         }
        .step{
            flex-direction: row;
            width: auto;
            margin-bottom: 20px;
            max-width: 485px;
            &:last-child{
                margin-bottom: 0px;
            }
            .icon-wrapper{
                margin-right: 40px;
            }
        } 
        .step.pos-up-down{
            .icon-wrapper{
                margin-bottom: 0px;
            }
        } 
        .step.pos-down-up{
            padding-top: 0px;
            flex-direction: row;
            .icon-wrapper {
                margin-top: 0px;
            }

        }
        .step-connect-line{
            display: none;
        }
    }
    /*--------browse-section--------*/
    .browse-section {
        .voice-sections .left-box{
            margin-bottom: 26px;
        }
    }
    /*---------make selecttion-----*/
    .section-makeselection{

        .row.make-selection{
            margin-bottom: 20px;
        }
    } 
    /*------video section----------*/
    .section-video{
        .video-container{
            height: 300px;
        }
        .video-text-info{
            padding-top: 20px;
            text-align: center;
            .app-sec-header{
                text-align: center;
            }
            ul{
                li{
                    text-align: left;
                }
            }
        } 
        .note-info {
            padding-top: 0px;
            h3{
                font-size: 30px;
                line-height: 40px;
            }
            p{
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
    /*--------post audition ----------*/
    .post-audition{
        padding: 15px 0px;
        .inner-wrapper {
            .left-box{
                display: none;
            }
            .right-box-wrapper{
                padding-left: 15px !important;
            }
            .right-box{
                border-radius: 10px !important;
            }
        }
    } 
    /*--------main banner------------*/
    .main-banner1{
        .banner-text{
            h3{
                font-size: 20px;
            }
        }
    }
}

@media(max-width: 768px){
    .app-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        min-width: 180px;
        font-size: 14px;
    }
    /*--------main banner------*/
    .main-banner{
        padding-top: 84px;
        .banner-text h2{
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }
        .banner-text h4{
            font-size: 20px;
            line-height: 29px;
            text-align: center;
        }
        .banner-text h3{
            font-size: 20px;
        }
    }
    .main-banner1{
        padding-top: 84px;
        .banner-text h2{
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }
        .banner-text h4{
            font-size: 20px;
            line-height: 29px;
            text-align: center;
        }
    } 
    .record-imgs-banner{
        height: 318px;
        background-size: 1284px;
    }
    /*-------section why---------*/
    .section-why .why-text p, .section-why .why-text h3{
        text-align: center;
    }
     /*--------main footer-------*/
     body .front-main-footer .footer-top{
         padding: 0px 0px;
        .inner-wrapper{
           .foot-col{
               width: 100% !important;
               min-width: auto;
                max-width: none;
                &:last-child{
                    ul{
                        margin-bottom: 0px;
                    }
                }
                .social-icons{
                    justify-content: center;
                    margin-bottom: 25px;
                }
                ul{
                    margin-bottom: 24px;
                    li{
                        line-height: normal;
                        a{
                            line-height: 18px;
                        }
                    }
                }
           }
       }
       
    }
    /*-------browse section-------------*/
    .browse-section .voice-sections .voice-box{
        padding-right: 82px;
        .audio-player .slide__audio{
            width: 50px;
            height: 50px;
        }
    }
}

@media(max-width: 575px){
    .main-wrapper.record-page {
        padding-top: 55px;
    }
    .app-container {
        padding: 0 15px;
    }

    .app-sec-padding, .app-sec-padding-large , .makeselection-sec-padding{
        padding: 25px 0px;
    }
    .app-sec-header {
        font-size: 30px;
        margin-bottom: 26px;
    }
    /*-----------main header--------------*/
    .main-header .navbar-toggler{
        margin-left: auto;
        margin-right: -15px;
    }
    .main-header .navbar-brand{
        position: absolute;
        left: 0;
        right: 0;
        top: -3px;
        margin: auto;
    }
    /*---------main banner-----------*/
    .main-banner{
        .btn-box{
            button{
                width: 100%;
            }
        }
    }
    .main-banner1{
        .btn-box{
            button{
                width: 100%;
            }
        }
    }
    
     /*-------front-use-section--------*/
     .front-use-section{
        .steps-use{
            
    align-items: flex-start;

        }
       .step{
           &:last-child{
               margin-bottom: 0px;
           }
           .icon-wrapper{
            width: 80px;
            height: 80px;
            min-width: 80px;
            min-height: 80px;
               margin-right: 15px;
               img{
                max-width: 45px;
               }
           }
           .text-wrapper p{
            max-width: none;
           }
           .text-wrapper span.step-count{
               min-width: 32px;
               font-size: 45px;
           }
       } 
   }
   /*-----------browse-section-----------------*/
    .browse-section{
        .voice-sections{
        
            .voice-box{
                padding: 12px;
                padding-right: 82px;
                img{
                    height: 70px;
                }
                .media-body{
                    padding-left: 15px;
                    padding-top: 0px;
                
                }
                h4{
                    font-size: 14px;
                    margin-bottom: 6px;
                }
                p{
                    margin-bottom: 3px;
                }
                .audio-player{
                    right: 15px
                }
            }
        }
    }

    /*------video section----------*/
    .section-video{
        .note-info {
            padding-top: 0px;
            padding-bottom: 0px;
            h3{
                font-size: 25px;
                line-height: 30px;
            }
            p{
                font-size: 18px;
                line-height: 25px;
            }
        }
        .video-text-info .app-sec-header{
            margin-bottom: 13px;
        }
    }

    /*------section why----------*/
    .section-why .reason-box{
        height: auto;
        i{
            font-size: 55px;
            margin-bottom: 20px;
        }
    }

    /*-----make selection------------*/
    .section-makeselection .row.make-selection .select-option{
        padding: 20px 15px;
        padding-left: 95px;
        i{
            left: 20px;
            font-size: 55px;
        }
    }
    .front-section-subscribe .form-group{
        width: 100%;
        input{
            width: 100%;
        }
    }
    .browse-section .voice-sections .voice-box .music-player{
        right: 10px;
    }
     /*-------use-section--------*/
     .use-section-front{
         .use-section{
            h2.app-sec-header img{
                display: block;
                margin: 12px auto;
            }
            .steps-use{
                
            align-items: flex-start;
    
            }
            .step{
                &:last-child{
                    margin-bottom: 0px;
                }
                .icon-wrapper{
                    width: 80px;
                    height: 80px;
                    min-width: 80px;
                    min-height: 80px;
                    margin-right: 15px;
                    img{
                        max-width: 45px;
                    }
                }
                .text-wrapper p{
                    max-width: none;
                }
                .text-wrapper span.step-count{
                    min-width: 32px;
                    font-size: 45px;
                }
            } 
        }
     }
}

