$app-primary-color: #05af4b;
$app-secondary-color: #59e521;
$app-black: #2b2b2b;
$text-base-color: #114251;

$front-primary-color: #05af4b;
$front-secondary-color: #59e521;
$front-black: #2b2b2b;

$font-GOnormal: "GothamPro";
$font-GOmedium: "GothamProMedium";
$font-GObold: "GothamProBold";

$font-GInormal: "GibsonRegular";
$font-GIbold: "GibsonBold";
$font-GImedium: "GibsonSemiBold";
$font-GIbolditalic: "GibsonBoldItalic";

// $font-normal: "GothamPro";
// $font-medium: "GothamProMedium";
// $font-bold: "GothamProBold";

/*placeholders*/
%display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

%flex-dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

%common-transition {
  -webkit-transition: all 100ms ease-in-out;
  -khtml-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
%ver-align {
 top: 50%;
 -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
%cust-app-icon{
  font-family: 'thevoicerealm-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*css mixin*/
@mixin flex($flex-value, $width-value: null) {
  -webkit-box-flex: $flex-value;
  -moz-box-flex: $flex-value;
  -webkit-flex: $flex-value;
  -ms-flex: $flex-value;
  flex: $flex-value;
  @if ($width-value !=null) {
    width: $width-value;
  }
}

@mixin BannerBackground($image-path, $image-type) {
  background: url($image-path + "." + $image-type) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin WebTransation($anim-time, $anim-type) {
  -webkit-transition: all $anim-time $anim-type;
  -moz-transition: all $anim-time $anim-type;
  -ms-transition: all $anim-time $anim-type;
  -o-transition: all $anim-time $anim-type;
  transition: all $anim-time $anim-type;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

