@import "appVaribles";

/*-------------------app fonts start-----------------*/
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype'),
        url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype'),
        url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamProMedium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype'),
        url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GibsonRegular';
    src: url('../fonts/Gibson-Regular.eot');
    src: url('../fonts/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gibson-Regular.woff') format('woff'),
        url('../fonts/Gibson-Regular.ttf') format('truetype'),
        url('../fonts/Gibson-Regular.svg#Gibson-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'GibsonBoldItalic';
//     src: url('../fonts/Gibson-BoldItalic.eot');
//     src: url('../fonts/Gibson-BoldItalic.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/Gibson-BoldItalic.woff') format('woff'),
//         url('../fonts/Gibson-BoldItalic.ttf') format('truetype'),
//         url('../fonts/Gibson-BoldItalic.svg#Gibson-BoldItalic') format('svg');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }
@font-face {font-family: "GibsonBoldItalic"; 
    src: url("http://db.onlinewebfonts.com/t/6b62a7d76da18cca0c00e5d5f5bcb1e7.eot"); 
    src: url("http://db.onlinewebfonts.com/t/6b62a7d76da18cca0c00e5d5f5bcb1e7.eot?#iefix") format("embedded-opentype"), 
    url("http://db.onlinewebfonts.com/t/6b62a7d76da18cca0c00e5d5f5bcb1e7.woff2") format("woff2"), 
    url("http://db.onlinewebfonts.com/t/6b62a7d76da18cca0c00e5d5f5bcb1e7.woff") format("woff"), 
    url("http://db.onlinewebfonts.com/t/6b62a7d76da18cca0c00e5d5f5bcb1e7.ttf") format("truetype"), 
    url("http://db.onlinewebfonts.com/t/6b62a7d76da18cca0c00e5d5f5bcb1e7.svg#Gibson") format("svg"); }

@font-face {
    font-family: 'GibsonBold';
    src: url('../fonts/Gibson-Bold.eot');
    src: url('../fonts/Gibson-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gibson-Bold.woff') format('woff'),
        url('../fonts/Gibson-Bold.ttf') format('truetype'),
        url('../fonts/Gibson-Bold.svg#Gibson-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GibsonSemiBold';
    src: url('../fonts/Gibson-SemiBold.eot');
    src: url('../fonts/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gibson-SemiBold.woff') format('woff'),
        url('../fonts/Gibson-SemiBold.ttf') format('truetype'),
        url('../fonts/Gibson-SemiBold.svg#Gibson-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*-------------------app fonts end-----------------*/
/*-------reset style start-------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-GOnormal;
}
h1,h2,h3,h4,h5,h6,p{ margin-top: 0px;}
img{max-width: 100%;}
a,a:hover{
    outline: none;
    text-decoration: none;
    @extend %common-transition;
}
img{
    max-width: 100%;
    vertical-align: top;
}
ul{
    padding: 0px;
}
button{
    outline: none;
    &:hover,&:focus,&:active{
        outline: none;
    }
}
/*-------reset style end-------*/
/*---------utility start-------*/
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50 ,55 ,60 ,65 ,70 ,75 ,80 ,90 ,100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {

    @each $side in $sides {
        .mar-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
    
        .pad-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }

    }
    
}
/*---------utility end-------*/
/*------------front common style start----------------*/
$front-primary-color: #05af4b;
$front-secondary-color: #59e521;
.app-btn{
    height: 50px;
    line-height: 1.2;
    border-radius: 5px;
    padding: 0 20px;
    min-width: 190px;
    outline: none;
    font-size: 16px;
    font-family: $font-GObold;
    text-transform: uppercase;
    border: 2px solid transparent;
    &:hover, &:active, &:focus{
        background: #fff;
  color: #474747;
  border-color: #474747;
    }
}
.app-btn-white{
    background-color: #fff;
    color: #474747;
    border: none;
}
.app-btn-green{
    background-color: $front-primary-color;
    color: #fff;
}
.app-btn-yellow{
    background: #F6A800;
    background: -moz-linear-gradient(266deg, #F6A800 0%, #fdc101 100%);
    background: -webkit-linear-gradient(266deg, #F6A800 0%, #fdc101 100%);
    background: linear-gradient(266deg, #F6A800 0%, #fdc101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F6A800",endColorstr="#fdc101",GradientType=1);
    color: #fff;
}
.app-btn-white-outline{
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    &:hover, &:active, &:focus{
      border-color: transparent;
    }
}
.app-btn-pink-outline{
    border-color: #f24d90;
    background-color: transparent;
    color: #f24d90;
    &:hover, &:active, &:focus{
      border-color: #f24d90;
      background-color: #f24d90;
      color: #fff;
    }
}
.app-btn-blue-outline{
    border-color: #29a4ea;
    background-color: transparent;
    color: #29a4ea;
    &:hover, &:active, &:focus{
      border-color: #29a4ea;
      background-color: #29a4ea;
      color: #fff;
    }
}
.white-outline-yellow-hov{
    border-color: rgb(56, 55, 55);
    background-color: transparent;
    color: #fff;
    &:hover, &:active, &:focus{
        border-color: #F6A800; 
        background: #F6A800;
        background: -moz-linear-gradient(266deg, #F6A800 0%, #fdc101 100%);
        background: -webkit-linear-gradient(266deg, #F6A800 0%, #fdc101 100%);
        background: linear-gradient(266deg, #F6A800 0%, #fdc101 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F6A800",endColorstr="#fdc101",GradientType=1);
    }
}
.app-container{ max-width: 1500px; margin: 0 auto; padding: 0 30px;}
.app-sec-header{
    font-size: 46px;
    color: $app-black;
    font-family: $font-GIbold;
    text-align: center;
    margin-bottom: 62px;
    color: #2b2b2b;
}
.app-sec-subheader{
    font-size: 25px;
    font-weight: 700;
    color: $app-black;
    font-family: $font-GObold;
    text-align: center;
    margin-bottom: 34px;
    color: #2b2b2b;
}
.app-sec-padding{
    padding: 70px 0px;
}
.app-sec-padding-large{
    padding: 115px 0px;
}
.cust-dropdow{
    position: relative;
    select{
        appearance: none;
        -webkit-apperiance: none;
        padding-right: 32px;
        height: 45px;
    }
    &:before{
        content: "\f107";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 12px;
        top: 13px;
        color: #05af4b;
        font-size: 23px;
    }
}
.summary-info-page {
    .cust-dropdow{
        &:before{
            color: #114251;
        }
        &.with-green-arrow{
            &:before{
                color: #05af4b;
            }
        }
    }
}
/*------------front common style end----------------*/
/*-------common style start-------*/
.top-rounded-0{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.text-underline{
    text-decoration: underline;
}
.border-radius-5{
    border-radius: 5px !important;
}
.app-button{
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    outline: none !important;
    border-radius: 8px;
    i,span{
        display: inline-block;
        vertical-align: top;
        line-height: inherit;
    }
    i{
        font-size: 25px;
        margin-right: 8px;
    }
    &:hover, &:active, &:focus{
        outline: none !important;
        box-shadow: none;
    }
    &.dropdown-toggle{
        position: relative;
        padding-right: 36px;
        &:after{
            display: none;
        }
        &:before{
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f107";
            position: absolute;
            right: 14px;
            top: 50%;
            @include css3-prefix(transform,translateY(-50%));
            font-size: 18px;
            font-weight: 500;
        }
    }
}
.app-button-clear{
    background: transparent;
    outline: none;
    border: none;
}
.app-btn-white{
    background-color: #fff;
    color: #474747;
    border: none;
}
.app-btn-green{
    background-color: $app-primary-color;
    color: #fff;
    &:hover, &:focus, &.active{
        color: #fff;
        background-color: darken($app-primary-color, 3%);
    }
}
.app-btn-lightgray{
    background-color: #f0f0f0;
    color: #5a5a5a;
    &:hover, &:focus, &.active{
        color: #5a5a5a;
        background-color: darken(#f0f0f0, 3%);
    }
}
.app-btn-white-outline{
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    &:hover, &:active, &:focus{
      border-color: transparent;
    }
}
.app-btn-green-outline{
    border-color: #07ac4d;
    background-color: transparent;
    color: #07ac4d;
    border-width: 2px;
    border-style: solid;
    &:hover, &:active, &:focus{
        color: #07ac4d;
        background-color: lighten(#07ac4d, 60%);
    }
}
.app-btn-gray-outline{
    border-color: #e2e2e2;
    background-color: transparent;
    color: #000;
    &:hover, &:active, &:focus{
        color: #000;
        background-color: #e2e2e2;
    }
}
.app-btn-baseLight-outline{
    border-color: #217089;
    background-color: transparent;
    border-width: 2px;
    color: #217089;
    &:hover, &:active, &:focus{
        color: #f0f0f0;
        background-color: #217089;
    }
}
.app-btn-skyblue-outline{
    border-color: #2DC1EE;
    background-color: transparent;
    border-width: 2px;
    color: #2DC1EE;
    border-style: solid;
    &:hover, &:active, &:focus{
        color: #f0f0f0;
        background-color: #2DC1EE;
    }
}

.app-container{
    max-width: 1614px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.app-sec-padding {
    padding: 70px 0px;
}
.tooltip-wrapper{

    .app-tooltip{
        position: absolute;
        top: 25px;
        right: -13px;
        z-index: 1070;
        display: block;
        margin: 0;
        font-weight: 400;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: normal;
        line-break: auto;
        font-size: 0.875rem;
        word-wrap: break-word;
        display: none;
        
        .tooltip-arrow{
            position: absolute;
            content: "";
            display: inline-block;
            height: 8px;
            width: 8px;
            border-left: 1px solid #e0dcdc;
            border-top: 1px solid #e0dcdc;
            -webkit-transform: rotate(45deg);
            -khtml-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #fff;
            margin-left: 2px;
            top: -4px;
            /* left: 0; */
            right: 15px;
            margin: auto;
        }
        .tooltip-content{
            color: #949494;
            background-color: #fff;
            border: 1px solid #e0dcdc;
            font-size: 12px;
            line-height: 18px;
            min-width: 198px;
            max-width: 200px;
            padding: 0.25rem 0.2rem;
            text-align: center;
            border-radius: 0.25rem;
            font-family: $font-GOnormal;
        }
    }   
    &:hover{
        .app-tooltip{
            display: block;
        }
    }
    &.center-align{
        .app-tooltip{
            left: 50%;
            right: auto;
            @include css3-prefix(transform, translateX(-50%));
            .tooltip-arrow{
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}
.app-btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    &:hover{
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;
    }
}
.app-btn-skyblue {
    color: #fff;
    background-color: #2dc1ff;
    border-color: #2dc1ff;
    &:hover{
        color: #fff;
        background-color: darken(#2dc1ff, 5%);
        border-color: darken(#2dc1ff, 5%);
    }
}
.app-btn-info {
    color: #fff;
    background-color: #217089;
    border-color: #217089;
    &:hover{
        color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
    }
}
.like-btn{
    font-size: 22px;
    color: #a3a3a3;
    outline: none !important;
    box-shadow: none !important;
    padding: 10px !important;
    height: auto;
    line-height: normal;
    @extend %common-transition;
    &:hover{
        color: lighten(#a3a3a3,5%);
        outline: none !important;
    }
    &:active{
        transform: scale(1.2);
        outline: none !important;
    }
    &.liked{
      color: #ff3a56;  
    }
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: lighten($app-primary-color, 3%);
    border-color: lighten($app-primary-color, 3%);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $app-primary-color;
    background-color: $app-primary-color;
}
.border-style-btn{
        border-radius: 8px;
        background-color: rgb(255, 166, 38);
        box-shadow: 0px 3px 0px 0px rgba(241, 135, 21, 0.004);
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        border: none;
        border-bottom: 3px solid;
        font-size: 14px;
        font-family: $font-GObold;
        color: #fff;
        text-transform: uppercase;
        $darken-val : 5%;
        &:hover, &:focus, &:active{
            color: #fff;
        }
        &.yello-style{
            background-color: #ffa626;
            border-bottom-color: #f18715;
            &:hover, &:focus, &:active{
                background-color: darken(#ffa626, 8%);
            border-bottom-color: darken(#f18715, 8%);
            }
        }
        &.green-style{
            background-color: #05af4b;
            border-bottom-color: #029837;
            &:hover, &:focus, &:active{
                background-color: darken(#05af4b, 5%);
            border-bottom-color: darken(#029837, 5%);
            }
        }
}
.app-gradent-btn{
        border-radius: 8px;
        background-image: -moz-linear-gradient( 218deg, rgb(89,229,33) 0%, rgb(5,175,75) 99%);
        background-image: -webkit-linear-gradient( 218deg, rgb(89,229,33) 0%, rgb(5,175,75) 99%);
        background-image: -ms-linear-gradient( 218deg, rgb(89,229,33) 0%, rgb(5,175,75) 99%);
        background-image:  linear-gradient( 218deg, rgb(89,229,33) 0%, rgb(5,175,75) 99%);
        min-width: 204px;
        height: 55px;
        line-height: 55px;
        padding: 0 20px;
        color: #fff;
        font-family: $font-GObold;
        font-size: 16px;
        @extend %common-transition;
        &:hover{
            color: #fff;
            background-image: -moz-linear-gradient( 218deg, rgb(5,175,75) 0%,rgb(89,229,33)  99%);
            background-image: -webkit-linear-gradient( 218deg, rgb(5,175,75) 0%,rgb(89,229,33)  99%);
            background-image: -ms-linear-gradient( 218deg, rgb(5,175,75) 0%,rgb(89,229,33)  99%);
            background-image: linear-gradient( 218deg, rgb(5,175,75) 0%,rgb(89,229,33)  99%);
        }
      
}
.app-gradent-btn-yellow{
    border-radius: 8px;
    background-image: -moz-linear-gradient( 218deg,  #ffdc2d 0%, #f6a800 99%);
    background-image: -webkit-linear-gradient( 218deg,  #ffdc2d 0%, #f6a800 99%);
    background-image: -ms-linear-gradient( 218deg,  #ffdc2d 0%, #f6a800 99%);
    background-image:  linear-gradient( 218deg,  #ffdc2d 0%, #f6a800 99%);
    min-width: 204px;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    color: #fff;
    font-family: $font-GObold;
    font-size: 16px;
    @extend %common-transition;
    &:hover{
        color: #fff;
        background-image: -moz-linear-gradient( 218deg, #f6a800 0%, #ffdc2d  99%);
        background-image: -webkit-linear-gradient( 218deg, #f6a800 0%, #ffdc2d  99%);
        background-image: -ms-linear-gradient( 218deg, #f6a800 0%, #ffdc2d  99%);
        background-image: linear-gradient( 218deg, #f6a800 0%, #ffdc2d  99%);
    }
  
}
.app-gradent-btn-blue{
    border-radius: 8px;
    background-image: -moz-linear-gradient( 218deg,  #4cd9f8 0%, #29a2e0 99%);
    background-image: -webkit-linear-gradient( 218deg,  #4cd9f8 0%, #29a2e0 99%);
    background-image: -ms-linear-gradient( 218deg,  #4cd9f8 0%, #29a2e0 99%);
    background-image:  linear-gradient( 218deg,  #4cd9f8 0%, #29a2e0 99%);
    min-width: 204px;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    color: #fff;
    font-family: $font-GObold;
    font-size: 16px;
    @extend %common-transition;
    &:hover{
        color: #fff;
        background-image: -moz-linear-gradient( 218deg, #29a2e0 0%, #4cd9f8  99%);
        background-image: -webkit-linear-gradient( 218deg, #29a2e0 0%, #4cd9f8  99%);
        background-image: -ms-linear-gradient( 218deg, #29a2e0 0%, #4cd9f8  99%);
        background-image: linear-gradient( 218deg, #29a2e0 0%, #4cd9f8  99%);
    }
  
}
.custom-checkbox .custom-control-label{
    padding-left: 10px;
    font-size: 14px;
    &:before{
        border-radius: 0.18rem;
    }
    &:before, &:after{
        width: 1.25rem;
        height: 1.25rem;
        top: 0rem;
    }
}
.text-normal{
    font-family: $font-GOnormal;
}
.text-normal-gi{
    font-family: $font-GInormal;
}
.title-font{
    font-family: $font-GObold;
}
.title-font-gi{
    font-family: $font-GIbold;
}
.medium-font{
    font-family: $font-GOmedium;
}
.medium-font-gi{
    font-family: $font-GImedium;
}
.text-base-color{
    color: #114251;
}
.text-baselight-color{
    color: #217089;
}
.text-dark-color{
    color: #232323;
}
.text-green-color{
    color: #07ac4d !important;
}
.text-lighgreen-color{
    color: #78de55;
}
.text-gray-color{
    color: #5e5d5d;
}
.text-lightgray-color{
    color: #767676;
}
.text-lightgray1-color{
    color: #bdbdbd;
}
.text-extlightgray-color{
    color: #c1c1c1;
}
.text-orange-color{
    color: #ffa626;
}
.text-yellow-color{
    color: #FFA626;
}
.text-lightyellow-color{
    color: #fff839;
}
.text-red-color{
    color: #f53244;
}
.text-white-color{
    color: #fff;
}
.text-skyblue-color{
    color: #2cb7e1 !important;
}
.text-bluechill-color{
    color: #117a9a !important;
}

.text-lightpurple-color{
    color: #6a729f;
}
.text-darkpurple-color{
    color: #383e5f;
}
.text-pink-color{
    color: #ff688f;
}
.text-william-color{
    color: #57716B;
}
.app-bg-skyblue{
    background-color: #3ebbe5 !important;
}
.app-bg-skyblue-light{
    background-color: #d9f2fe !important;
}
.app-bg-lightskyblue{
    background-color: #e6f6ff !important;
}
.app-bg-skybluelight{
    background-color: #e8f4ff !important;
}
.app-bg-skyblueExlight {
    background-color: #f4fafd;
}
.gray-bg{
    background-color: #f5f5f5;
}
.app-bg-green{
    background-color: #04b04c !important;
}
.app-bg-lightgray{
    background-color: #f3f3f3 !important;
}
.green-bg{
    background-color: #07ac4d !important;
}
.light-green-bg{
    background-color: #82ea6a !important;
}
.darkblue-bg{
    background-color: #114251 !important;
}
.light-blue-bg{
    background-color: #217089;
}
.light-extblue-bg{
    background-color: #dae9ff !important;
}
.light-extskyblue-bg{
    background-color: #eef8ff !important;
}
.light-yellow-bg{
    background-color: #ffdd56 !important;
}
.orange-bg{
    background-color: #ffa626 !important;
}
.light-orange-bg{
    background-color: #ffbd3d !important;
}
.light-extyellow-bg{
    background-color: #fff0da !important;
}
.light-red-bg{
    background-color: #f35668;
}
.pink-bg{
    background-color: #fb5b75 !important;
}
.light-pink-bg{
    background-color: #ffdada !important;
}
.purple-bg{
    background-color: #9555de !important;
}
.gradent-green-bg{
    background: rgb(79,223,38) !important;
    background: -moz-linear-gradient(90deg, rgba(79,223,38,1) 0%, rgba(14,181,71,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(79,223,38,1) 0%, rgba(14,181,71,1) 100%) !important;
    background: linear-gradient(90deg, rgba(79,223,38,1) 0%, rgba(14,181,71,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(79,223,38,1)", endColorstr="rgba(14,181,71,1)",GradientType=1) !important;
}
.gradent-green-bg-flip{
    background: rgb(79,223,38) !important;
    background: -moz-linear-gradient(90deg, rgba(14,181,71,1) 0%, rgba(79,223,38,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(14,181,71,1) 0%, rgba(79,223,38,1) 100%) !important;
    background: linear-gradient(90deg, rgba(14,181,71,1) 0%, rgba(79,223,38,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(14,181,71,1)", endColorstr="rgba(79,223,38,1)",GradientType=1) !important;
}
.gradent-black-bg{
    background: rgb(60,62,70);
    background: -moz-radial-gradient(circle, rgba(60,62,70,1) 0%, rgba(32,33,37,1) 47%, rgba(16,16,18,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(60,62,70,1) 0%, rgba(32,33,37,1) 47%, rgba(16,16,18,1) 100%);
    background: radial-gradient(circle, rgba(60,62,70,1) 0%, rgba(32,33,37,1) 47%, rgba(16,16,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3e46",endColorstr="#101012",GradientType=1);
}
.green-header{
    background-color: #07ac4d;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-25{
    font-size: 25px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-30{
    font-size: 30px;
}
.font-32{
    font-size: 32px;
}
.font-35{
    font-size: 35px;
}
.font-38{
    font-size: 38px;
}
.font-40{
    font-size: 40px;
}
.font-45{
    font-size: 45px;
}
.font-183{
    font-size: 183px;
}
.lh-normal{
    line-height: normal !important;
}
.highlighted-text{
    border-left: 6px solid #07ac4d;
    padding-left: 15px;
}
.btn{
    border-radius: 8px;
}
.btn-lg{
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}
.radius-8{
    border-radius: 8px;
}
.empty-box{
    height: 422px;
    background-color: #e9e9e9;
    border-radius: 10px;
}
.tab-inner-form{
    max-width: 650px;
}
.min-w-1000{
    min-width: 1000px;;
}
.with-cust-ico{
    position: relative;
    i{
        position: absolute;
        right: 10px;
        @extend %ver-align;
        font-size: 20px;
        color: #d4d4d4;
    }
    input{
        padding-right: 25px;
    }
    &.left-ico{
        i{
            right: auto;
            left: 10px;
        }
        input{
            padding-left: 40px;
            padding-right: 10px;
        }
    }
    &.base-color-ico{
        i{
            color: #114251;
        }
    }
}
.ver-align-ele{
    & > *{
        display: inline-block;
        vertical-align: middle;
    }
}
.fixed-tooltip-sec{
    .tooltip-fixed{
        margin-right: 18px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            right: 0px;
            top: 20px;
            @include css3-prefix(transform, translateX(100%));
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent transparent #F5F5F5;

        }
        &.bottom-arrow{
            margin-right: 0px;
            &:before{
                top: auto;
                bottom: 0;
                @include css3-prefix(transform, translateY(100%));
                right: auto;
                left: 20px;
                border-color: #F5F5F5 transparent transparent transparent;
            }
        }
        &.right-arrow{
            margin-right: 0px;
            margin-left: 18px;
            &:before{
                content: "";
                position: absolute;
                left: 0px;
                right: auto;
                top: 50%;
                @include css3-prefix(transform, translate(-100%,-50%));
                border-style: solid;
                border-color: transparent  #F5F5F5 transparent transparent;
    
            }
        }
        &.top-arrow{
            margin-top: 18px;
            margin-right: 0px;
            &:before{
                right: auto;
                border-color: transparent transparent #F5F5F5 transparent;
                @include css3-prefix(transform, translateY(-200%));
            }
        }
    }
    .tooltip-link{
        margin-top: 18px;
        border-bottom-color: #c3e6fc !important;
    }
}
.app-table{
    thead{
        th{
            font-family: $font-GObold;
            font-size: 18px;
            color: #fff;
            background-color: #217089;
            text-align: center;
            vertical-align: middle;
            padding: 20px 30px;
        }
    }
    tbody{
        td{
            padding: 20px 30px;
            font-size: 14px;
            color: #114251;
            vertical-align: middle;
            min-width: 150px;

        }
    }
    &.dark-header-style{
        thead{
            th{
                background-color: #114251;
                height: 43px;
                font-family: $font-GOnormal;
                font-size: 16px;
                position: relative;
                font-weight: normal;
                &:before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 24px;
                    background-color: #307a91;
                    right: 0px;
                    @extend %ver-align;
                }
            }
        }
        tbody{
            td{
                font-size: 16px;
                color: #114251;
                a{
                    display: inline-block;
                    vertical-align: middle;
                }
                .cust-dropdow{
                    &:before{
                        top: 6px;
                    }
                    select{
                        height: 32px;
                        line-height: 32px;
                        padding: 0 35px 0px 15px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    &.app-sm-table{
        thead{
            th{
                padding: 10px 18px;
            }
        }
        tbody{
            td{
                padding: 10px 18px;

            }
        }
    }
}
.app-table-black{
    thead{
        background-color: #101012;
        th{
            font-family: $font-GImedium;
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            border: 1px solid #101012;
            border-right-color: #313135;
            min-width: 230px;
            padding: 9px 3px;
            vertical-align: middle;
            &:last-child{
                border-right-color: #101012;
            }
        }
    }
    tbody{
        td{
            font-family: $font-GInormal;
            font-size: 20px;
            color: #fff;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #101012;
            .music-player{
                display: inline-block;
                vertical-align: top;
                .ui360{
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }
}
.app-stripe-table{
    tbody tr:nth-child(even){
        background-color: #f6f6f6;
    }
}

.inline-lbl-val{
    label{
        min-width: 100px;
        &.medium-size{
            min-width: 135px;
        }
        &.auto-size{
            min-width: auto;
        }
    }
}
.border-style-table{
    table{

        border-top: 3px solid #04b04c;
    }
    thead{
        th{
            font-family: $font-GOmedium;
            padding: 22px;
            vertical-align: middle;
        }
    }
    tbody{
        td{
            padding: 22px;
            vertical-align: middle;
            color: #114251;
            min-width: 100px;
            &.large-text-col{
                min-width: 190px;
            }
        }
    }
}
.ligth-outline-box{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    min-width: 144px;
}
.app-tag{
    display: inline-block;
    min-width: 80px;
    border-radius: 5px;
    background-color: #e8effc;
    font-size: 15px;
    color: #363636;
    font-family: $font-GOmedium;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    margin-right: 7px;
    margin-bottom: 7px;
    font-weight: normal;
    &.light-tag{
        font-family: $font-GOnormal;
        color: #393939;
    }
    &.light-yellow{
        background-color: #fff0da
    }
    &.light-pink{
        background-color: #ffdada
    }
    &.normal-font{
        font-family: $font-GOnormal;
    }
}

.offer-lbl{
    position: relative;
    font-family: $font-GIbolditalic;
    font-size: 24px;
    color: #fff;
    background-color: #ef5282;
    height: 46px;
    line-height: 46px;
    padding-left: 15px;
    padding-right: 27px;
    &:before{
        content: "";
        position: absolute;
        right: -1px;
        top: 0;
        border-width: 23px 20px 23px 20px;
        border-style: solid;
        border-color: transparent #fff transparent transparent ;
    }
    &.yellow-color{
        background-color: #f7aa00;
    }
}
ul.cir-bullet{
    padding-left: 5px;
    list-style-type: none;
    li{
        line-height: normal;
        margin-bottom: 16px;
        position: relative;
        padding-left: 20px;
        &:last-child{
            margin-bottom: 0px;
        }
        &:before{
            content: "";
            display: inline-block;
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: #ffd43d;
            margin-right: 5px;
            vertical-align: 1px;
            position: absolute;
            left: 0;
            top: 5px;
        }
        span{
            color: #232323;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 20px;
            &.text-base-color{
                color: #114251;
            }
        }
    }
    &.green-dot{
        li{
            &:before{
                background-color: #2bc738;
            }
        }
    }
}
ul.num-bullet{
    counter-reset: num-bullet-counter;
    padding-left: 5px;
    list-style-type: none;
    li{
        line-height: normal;
        margin-bottom: 16px;
        position: relative;
        padding-left: 22px;
        padding-top: 2px;
        counter-increment: num-bullet-counter;
        &:last-child{
            margin-bottom: 0px;
        }
        &:before{
            content: counter(num-bullet-counter) ". ";
            font-family: $font-GObold;
            font-size: 18px;
            color: #07ac4d;
            margin-right: 5px;
            position: absolute;
            left: 0;
            top: 0px;   
        }
        span{
            color: #232323;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 20px;
            padding-top: 1px;
        }
    }
}
ul.num-bullet-label-hori{
    counter-reset: num-bullet-counter;
    padding-left: 5px;
    list-style-type: none;
    li{
        line-height: normal;
        margin-bottom: 16px;
        position: relative;
        padding-left: 22px;
        padding-top: 2px;
        counter-increment: num-bullet-counter;
        &:last-child{
            margin-bottom: 0px;
        }
        .label{
            position: absolute;
            left: -30px;
            top: 0px;
            background: rgb(80,224,37);
background: -moz-linear-gradient(90deg, rgba(80,224,37,1) 0%, rgba(24,187,66,1) 95%, rgba(24,187,66,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(80,224,37,1) 0%, rgba(24,187,66,1) 95%, rgba(24,187,66,1) 100%);
background: linear-gradient(90deg, rgba(80,224,37,1) 0%, rgba(24,187,66,1) 95%, rgba(24,187,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#50e025",endColorstr="#18bb42",GradientType=1);
            font-style: normal;
            display: inline-block;
            width: 32px;
            text-align: center;
            height: 24px;
            line-height: 24px;
            &:before{
                content: counter(num-bullet-counter) ". ";
                font-family: $font-GObold;
                font-size: 18px;
                color: #fff;
            }
            &:after{
                content: "";
                position: absolute;
                border-width: 12px 8px 12px 8px;
                border-color: transparent transparent transparent #19bc41;
                border-style: solid;
                right: -50%;
            }
        }
        span.text{
            color: #232323;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 20px;
            padding-top: 1px;
        }
    }
}
ul.num-bullet-label{
    counter-reset: num-bullet-counter;
    padding-left: 5px;
    list-style-type: none;
    li{
        line-height: normal;
        margin-bottom: 45px;
        position: relative;
        padding-left: 50px;
        padding-top: 2px;
        counter-increment: num-bullet-counter;
        &:last-child{
            margin-bottom: 0px;
        }
        &:before{
            content: counter(num-bullet-counter);
            font-family: $font-GObold;
            font-size: 30px;
            background-color: #07ac4d;
            color: #fff;
            margin-right: 5px;
            position: absolute;
            left: 0;
            top: 0px;   
            width: 34px;
            text-align: center;
            height: 39px;
            line-height: 39px;
        }
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 38px;
            border-width: 10px 17px;
            border-style: solid;
            border-color: #07ac4d transparent transparent transparent;
        }
        span{
            color:$text-base-color;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 20px;
            padding-top: 1px;
        }
    }
}
.page-banner{
    position: relative;
    margin-bottom: 35px;
    @extend %display-flex;
    .text-wrapper{
        h2{
            font-size: 57px;
            font-family: $font-GObold;
            color: rgb(17, 66, 81);
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 27px;
            &.ex-bold{
                font-family: $font-GIbold;
            }
          }
          p {
            font-size: 14px;
            color: rgb(17, 66, 81);
            line-height: 1.357;
            margin-bottom: 20px;
            padding-right: 32px;
          }
          
    }
    .img-container{
        min-width: 570px;
        max-width: 570px;
        order: 2;
        @extend %display-flex;
        align-items: flex-end;
        position: relative;
        img{
            width: 100%;
            margin-top: -20px;
        }
    }
    &.thankyou-banner, &.testimonials-banner{
        .text-wrapper{
            padding-right: 60px;
            padding-left: 50px;
            h2{
                font-size: 86px;
                color: #07ac4d;
            }
        }
        .points-list{
            li{
                color: #114251;
                position: relative;
                font-size: 16px;
                padding-left: 35px;
                margin-bottom: 25px;
                text-align: left !important;
                i{
                    font-size: 22px;
                    color: #ffbd3d;
                    position: absolute;
                    @extend %ver-align;
                    left: 0px;
                }
            }
        }
        .payment-details{
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
            border-left: 16px solid #3faaed;
            padding: 26px 28px;
            margin-bottom: 20px;
            p{
                font-size: 16px;
                color: #114251;
                &.bold-text{
                    font-family: $font-GObold;
                    margin-bottom: 0px;
                    a{
                        color: #3faaed;
                        &:hover{
                            color: lighten(#3faaed,15%);
                        }
                    }
                }
            }
        }
        .btn-box{
            button{
                min-width: 210px;
            }
        }
    }
    &.testimonials-banner{
        align-items: center;
        .text-wrapper{
            h2{
                font-size: 75px;
            }
        }
        .img-container{
            min-width: 417px;
            max-width: 417px;
        }
        p{
            font-size: 18px;
            color: #114251;
            a{
                font-family: $font-GOmedium;
                color:  inherit;
                &:hover{
                    color: #007bff;
                }
            }
        }
    }
    &.faq-banner{
        align-items: center;
        .img-container{
            min-width: 649px;
            max-width: 649px;
        }
        .text-wrapper{
            padding-right: 60px;
            padding-left: 50px;
            flex: 1;
            h2{
                font-size: 72px;
                color: #78de55;
            }
        }
    }
    &.img-left-sided{
        .img-container{
            order: 0;
        }
    }
    &.audio-engineer{
        .img-container img{
            max-width: 465px;
            margin-top: -60px;
        }
        .text-wrapper{
            padding-left: 80px;
            p{
                line-height: 24px;
            }
        }
    }
    &.voiceover-audition-banner{
        align-items: center;
       .img-container{
           max-width: 450px;
           min-width: 450px;
       } 
       .text-wrapper{
           p{
               font-size: 16px;
           }
       }
    }
    &.jobs-audi-banner{
        .img-container{
            max-width: 685px;
            min-width: 685px;
        }
        .text-wrapper{
            h2{
                padding-left: 35px;
                margin-bottom: 86px;
            }
            .select-cur-lov{
                display: flex;
                align-items: center;
            }
        }
    }
}
.app-input-ico{
    position: relative;
    input{
        border-radius: 5px;
        padding-left: 45px;
    }
    .input-ico{
        position: absolute;
        left: 18px;
        @extend %ver-align;
    }
}
.grid-search{
    @extend %display-flex;
    .app-input-ico{
        margin-right: 12px;
        min-width: 390px;
    }
    input{
        border-color: #cfcfcf;
        height: 45px;
        font-size: 14px;
        width: 100%;
    }
    .input-ico{
        font-size: 14px;
        color: #cfcfcf;
    }
    .btn{
        height: 45px;
        line-height: 30px;
        min-width: 125px;
        border-radius: 8px;
        i {
            font-size: 16px;
        }
        span {
            padding-left: 12px;
            font-size: 16px;
        }
    }
}
.app-form{
    .form-title{
        color: #2b2b2b;
        font-family: $font-GObold;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 29px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 33px;
    }
    .form-group{
        & > label{
            color: #3d3d3d;
            font-family: $font-GOmedium;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        .form-control{
            height: 45px;
            border: 1px solid #e0dcdc;
        }
        .form-control-textarea{
            height: 135px;
            border: 1px solid #e0dcdc;
        }
    }
    .custom-checkbox .custom-control-label{
        padding-left: 10px;
        font-size: 14px;
        &:before{
            border-radius: 0.18rem;
        }
        &:before, &:after{
            width: 1.25rem;
            height: 1.25rem;
            top: 0rem;
        }
    }
    .bot-action-box{
        flex-wrap: wrap;
        margin-right: -29px;
       button{
           white-space: nowrap;
       }
    }
}
.cust-multiselect-dropdown{
    &:before{
        z-index: 2;
    }
    .select2-selection{
        height: 48px;
        padding: 10px 6px;
        .select2-selection__rendered{
            @extend %display-flex;
            align-items: center;
            img{
                margin-right: 6px;
            }
        }
        .select2-selection__clear, .select2-selection__arrow{
            display: none;
        }
    }
}
.width-230{
    width: 230px;
}
.noBottom-radius{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.app-badge{
    font-size: 18px;
    color: #fff;
    @extend .app-bg-skyblue;
    padding: 4px 12px;
    white-space: nowrap;
    border-radius: 0px;
    position: relative;
    margin-right: 40px;
    text-align: left;
    &:before{
        content: "";
        position: absolute;
        right: -24px;
        top: 0;
        border-width: 17.5px 12px 17.5px 12px;
        border-style: solid;
        border-color: transparent transparent transparent #3ebbe5;
    }
}
.app-user-img{
    width: 62px;
    height: 62px;
    min-width: 62px;
    min-height: 62px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #eee;
    &.size-72_72{
        width: 72px;
        height: 72px;
        min-width: 72px;
        min-height: 72px;
    }
}
.user-media{
    .media-body{
        h5,p{
            @extend .text-base-color;
        }
        h5{
            font-size: 16px;
            font-family: $font-GObold;
        }
        p{
            font-size: 14px;
        }
    }
}
.form-note{
    border: 1px solid #f2223b;
    color: #f2223b;
    border-radius: 8px;
    @extend %display-flex;
    align-items: center;
    padding: 15px 20px;
    i{
        font-size: 42px;
        margin-right: 20px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
    }
}
.with-text-counter{
    position: relative;
    .char-count-lbl{
        position: absolute;
        bottom: 3px;
        right: 16px;
        color: #114251;
        font-size: 14px;
    }
}
.line-sep-geader{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        margin-top: -1.5;
        background-color: #114251;
    }
    span{
        position: relative;
        z-index: 1;
        background-color: #fff;
        padding: 3px 60px 3px 0;
        font-family: "GibsonBold";
        font-size: 25px;
        color: #114251;
    }
}
.circle-btn{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #3eb2d7;
    padding: 0;
    line-height: 22px;
    text-align: center;
    padding: 0 4px;
    color: #fff;
}
.tainy-btn{
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-color: #f83a51;
    line-height: 20px;
    text-align: center;
    padding: 0 4px;
    color: #fff;
    vertical-align: middle;
}
.custom-file.app-file-upload{
    border-radius: 8px;
    overflow: hidden;
    .custom-file-label{
        padding: 0px;
        border-radius: 8px !important;
        span{
            padding: 6px 18px;
            display: inline-block;
            background-color: #3eb2d7;
            color: #fff;
            font-size: 16px;
        }
        &:after{
            display: none;
        }
    }
}
.expCollap-text{
    width: 100%;
    position: relative;
    &.collasped{
        .text-cont{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            margin-bottom: 0px;
            padding-right: 150px;
        }
        .action-box{
            position: absolute;
            right: 0px;
            top: -3px;
        }
    }
    .action-box{
        span,button{
            pointer-events: none;
        }
    }
    
}
.text-bordered{
    border-bottom: 1px dashed;
}
.text-style-normal{
    font-style: normal;
}
.mw-none{
    max-width: none !important;
}
.card-accordian{
    .card{
        margin-bottom: 5px !important;
    }
    &.yellow-header-accordian{
        .card{
            border-radius: 0px;
            &:first-child{
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            &:last-child{
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            .card-header{
                background-color: #ffdd56;
                .card-title{
                    color: #363636;
                    .btn-link{
                        color: #363636;
                        position: relative;
                        width: 100%;
                        &:before{
                            @extend %cust-app-icon;
                            @extend %common-transition;
                            content: "\e928";
                            font-size: 13px;
                            color: currentColor;
                            position: absolute;
                            right: 4px;
                            top: 50%;
                            margin-top: -6px;
                            display: inline-block;
                            transform-origin: center;
                        }
                    }
                }
                &.collapsed{
                    background-color: #879EAB;
                    .card-title{
                        color: #fff;
                        .btn-link{
                            color: #fff;
                            svg{
                                path{
                                    stroke: #fff;
                                }
                                tspan{
                                    fill: #fff;
                                }
                            }
                            &:before{
                                @include css3-prefix(transform, rotate(-90deg));
                            }
                        }
                    }
                }
            }
        }
    }
    &.singlecolor-accordian{
        .card{
            border-radius: 0px;
            &:first-child{
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            &:last-child{
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            .card-header{
                background-color: #eee;
                .card-title{
                    color: #fff;
                    .btn-link{
                        color: #fff;
                        position: relative;
                        width: 100%;
                        text-decoration: none;
                        &:before{
                            @extend %cust-app-icon;
                            @extend %common-transition;
                            content: "\e928";
                            font-size: 17px;
                            color: currentColor;
                            position: absolute;
                            right: 16px;
                            top: 50%;
                            margin-top: -6px;
                            display: inline-block;
                            transform-origin: center;
                        }
                    }
                }
                &.collapsed{
                    .card-title{
                        .btn-link{
                            &:before{
                                @include css3-prefix(transform, rotate(-90deg));
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.user-thumb-bg{
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #eee;
    margin-bottom: 10px;
    &.size62-62{
        height: 62px;
        width: 62px;
    }
    &.size34-34{
        height: 34px;
        width: 34px;
    }
    
}
.app-switch-btn.custom-switch{
    height: 35px;
    width: 78px;
    .custom-control-input{
        &:checked ~ .custom-control-label::after{
            left: 9px;
            background-color: #05af4b;
        }
        &:checked ~ .custom-control-label .chk-text{
            left: -24px;
            &:before{
                content: "ON";
            }
        }
    }
    .custom-control-label{
        &:before{
            height: 35px;
            width: 78px;
            border-radius: 17.5px;
            background: #f8f8f8;
            border: none;
            box-shadow: 1px 1px 4px 1px #00000021 inset;
            top: 0px;
        }
        &:after{
            top: 3px;
            left: -31px;
            width: 29px;
            height: 29px;
            background-color: #a4a4a4;
            border-radius: 50%;
            transform: none !important;
            @extend %common-transition;
        }
        span.chk-text{
            position: absolute;
            left: 3px;
            top: 6px;
            &:before{
                content: "OFF";
                font-family: $font-GOmedium;
                font-size: 14px;
                color: $text-base-color;
                @extend %common-transition;
            }
        }
    }
}
.social-circle-icons{
    a{
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-decoration: none;
        background-color: #215C99;
        color: #fff;
        font-size: 16px;
        margin-right: 4px;
        text-align: center;
        line-height: 30px;
        &:hover{
            background-color: lighten(#215C99, 20%);
        }
    }
}
.icons-list{
    li{
        position: relative;
        padding-left: 35px;
        margin-bottom: 10px;
        img{
            position: absolute;
            left: 0;
            top: 0px
        }
    }
}
.myAcc-artist-card{
    .media{
        padding-right: 170px;
        .app-button,.custom-switch{
            position: absolute;
            right: 20px;
            @extend %ver-align;
        }

        
    }
}
.app-note{
    display: inline-block;
    border-radius: 8px;
    padding: 11px 12px;
    &.bordered-note{
        border: 2px solid;
    }
    &.pink-note{
        border-color: #f42d57;
        .note-text{
            color: #f42d57;
        }
    }
}
.abs-right-center{
    position: absolute;
    right: 0px;
    @extend %ver-align;
}
.abs-right-top{
    position: absolute;
    right: 0px;
    top: 0px;
}
.abs-right-bottom{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.abs-left-top{
    position: absolute;
    left: 12px;
    top: 12px;
}
.record-cir-lbl{
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 1px solid #e0dcdc;
    border-radius: 50%;
    vertical-align: top;
    padding: 3px 3px;
    &:before{
        content: "";
        display: inline-block;
        height: 14px;
        width: 14px;
        background-color: #fa2c2c;
        border-radius: 50%;
        vertical-align: top;
    }
}
.info-ico-list{
    li{
        position: relative;
        padding-left: 54px;
        border-bottom: 2px solid #3eb2d7;
        margin-bottom: 32px;
        min-height: 55px;
        img{
            position: absolute;
            left: 0;
            top: 0px;
        }

    }
}
.findTalet-container{
    max-width: 818px;
    margin: 0 auto;
    padding: 0 15px;
}
.cir-lbl{
    height: 50px;
    width: 50px;
    font-family: "GothamProMedium";
    color: #fff;
    background-color: #4dbfe3;
    font-size: 18px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
}
.chat-user{
    .user-thumb-bg{
        border-radius: 50%;
        border: 2px solid #fff;
        box-sizing: content-box;
        position: relative;
        overflow: visible;
        margin-bottom: 0px;
        &:before{
            content: "";
            position: absolute;
            height: 9px;
            width: 9px;
            border-radius: 50%;
            background-color: #04b04c;
            border: 2px solid #fff;
            box-sizing: content-box;
            right: -5px;
            top: -2px;
            opacity: 0;
        }
        &.has-alert{
            &:before{
                opacity: 1;
            }
        }
    }
}
.upload-list{
    .media{
        .icon{
            margin-top: 5px;
        }
        .media-body{
            p{
                line-height: normal;
                color: #a8a8a8;
            }
        }
        .btn{
            top: 6px;
        }
    }
}
.page-fold-style{
    position: relative;
    .card.app-card{
        border-radius: 0px;
        border-bottom-right-radius: 47px;
    }
    .fold-ele{
        position: absolute;
        right: 0;
        bottom: 0;
        stroke-width: 1;
        stroke: #ededed;
    }
}
.quick-se-devider{
    margin: 37px -15px;
}
    
.back-to-page{
    position: absolute;
    right: 0px;
    top: -8px;
    z-index: 1;
    img{
        max-width: 152px;
        margin-right: 35px;
    }
    a{
        color: #37bae0;
        i{
            display: inline-block;
            vertical-align: text-bottom;
        }
    }
}
.lblval-list{
    li {
        @extend %display-flex;
        label,p{
            font-size: 16px;
            margin-bottom: 0px;
        }
        label{
            font-weight: normal;
            color: #78a3b0;
            min-width: 223px;
        }
        p{
            color: #114251;
        }
    }
}
.logo-note-box{
    padding: 25px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    @extend %display-flex;
    align-items: center;
    img.logo{
        min-width: 394px;
        margin-right: 24px;
    }
}
.note-info{
    position: relative;
    padding: 18px;
    padding-left: 64px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.11);
    &.blue-note{
        border-color: #2cadf7 !important;
        .note-icon{
            background-color: #2cadf7;
        }
        p.note-color{
            color: #117a9a;
        }
    }
    &.green-note{
        .note-icon{
            background-color: #73e93f;
        } 
        p.note-color{
            color: #73e93f;
        }
    }
    &.red-note{
        .note-icon{
            background-color: #eb3535;
        } 
        p.note-color{
            color: #eb3535;
        }
    }
    &.pink-note{
        border-color: #f14162 !important;
        .note-icon{
            background-color: #f14162;
        } 
        p.note-color{
            color: #f14162;
        }
    }
    &.with-large-icon{
        padding-left: 82px;
        .note-icon{
            width: 65px;
        }   
    }
    .note-icon{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 47px;
        background: #F6A800;
        color: #fff;
        font-size: 43px;
        .icon{
          position: absolute;
          @extend %ver-align;
          left: 0;
          right: 0;
          margin: auto;  
        }
    }
    h4{
        font-family: $font-GOmedium;
        font-size: 16px;
        color: #114251;
        margin-bottom: 18px;
    }
    p {
        color: #2b2b2b;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        margin-bottom: 0px;
    }
}
.how-to-section{
    padding-left: 25px;
    .howto-points{
        .row{
            margin-bottom: 130px;
            position: relative;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }
    .connect-line{
        position: absolute;
        top: 44%;
        left: 30%;
    }
}
.mul-ctrls-box{
    .ctrl-box{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}
.card{
    &.skyblue-borded{
        border-radius: 8px !important;
        border: 2px solid #d5f3ff !important;
        .note-color{
            color: #117a9a !important;
        }
    }
    &.green-borded{
        border-radius: 8px !important;
        border: 2px solid #3ade46 !important;
        .note-color{
            color: #3ade46 !important;
        }
    }
}
.badge.header-badge{
    font-family: $font-GObold;
    font-size: 20px;
    color: #fff;
    background-color: $text-base-color;
    padding: 6px 12px;
    border-radius: 8px;

}
.summary-full-banner{
    height: 412px;
    position: relative;
    margin: 0 -30px 0 -30px;
    @include BannerBackground("../images/banner-quickcast","png");
    @extend %display-flex;
    align-items: top;
    padding-right: 495px;
    .text-wrapper{
        padding-top: 72px;
        padding-left: 52px;
        h2{
            font-family: $font-GIbold;
            color: #fff;
            font-size: 43px;
            max-width: 615px;
            text-transform: uppercase;
            margin-bottom: 22px;
        }
        .bottom-box{
            @extend %display-flex;    
            align-items: center;
            button{
                margin-right: 20px;
            }
        }
    }
    .img-container{
        position: absolute;
        right: 204px;
        bottom: 0px;
    }
    &.voice-recording-banner{
        padding: 0px !important;
        background-image: url(../images/banner-voice-recording.png) !important;
        .text-wrapper{
            padding: 0px !important;
            align-self: center;
        }
        .text-bg-box{
            background-color: #2b3037;
            padding: 8px 8px 8px 30px;
            color: #fff;
            max-width: 804px;
            margin-bottom: 18px;
            &:last-child{
                margin-bottom: 0px;
            }
            .large-text{
                font-family: $font-GObold;
                font-size: 25px;
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            p{
                line-height: 20px;
            }
            &.with-icon{
                padding-left: 80px;
                position: relative;
                img{
                    position: absolute;
                    left: 30px;
                    @extend %ver-align;
                }
            }
        }
    }
    &.howto-hire-banner{
        padding: 0px !important;
        background-image: url(../images/banner-howto-hire.png) !important;
        @extend %display-flex;
        justify-content: center;
        align-items: center;
        .center-text-container{
            max-width: 818px;
            text-align: center;
            h2{
                font-family: $font-GIbold;
                color: #fff;
                font-size: 50px;
                span{
                   color: #0ddd65; 
                }
            }
        }
    }
    &.testimonial-banner{
        height: 652px;
        background-image: url(../images/banner-howto-hire2.png) !important;
        .banner-content{
            max-width: 100%;
        }
    }
    &.agencies-info-banner{
        background-image: url(../images/banner-howto-hire3.png) !important;
        height: auto;
        .app-card{
            min-height: 232px;
        }
    }

}
.testimonial-slider{
   .media{
       border-radius: 10px;
       background-color: rgba(0, 0, 0, 0.5);
       padding: 25px;
       align-items: center;
       .logo{
           max-width: 115px;
           background-color: #fff;
           padding: 5px;
       }
       h5{
           font-family: $font-GObold;
           font-size: 22px;
           color: #fff;
       }
       p{
           color: rgba(255,255,255,0.5);
       }
       .media-body{
           border-color: #434344 !important;
       }
   }
   .owl-nav{
       button{
           position: absolute;
           font-size: 60px !important;
           color: #fff !important;
           @extend %ver-align;
           margin-top: -23px !important;
           &.owl-prev{
               left: -50px;
           }
           &.owl-next{
               right: -50px;
           }
           &:hover{
               background: transparent !important;
               color: $app-primary-color !important;
           }
       }
   }
   .owl-dots{
        .owl-dot.active{
            span{
                background-color: $app-primary-color !important;
            }
        }
   }
}
.word-count-info{
    p{
        font-family: $font-GOmedium;
        color: $text-base-color;
        line-height: 54px;
        font-size: 20px;
        .info-count{
            font-family: $font-GObold;
            font-size: 40px;
            line-height: 43px;
            color: #fff;
            background-color: #3ebbe5;
            display: inline-block;
            padding: 2px 6px;
            vertical-align: -7px;
            border-radius: 4px;
        }
        .time-count{
            display: inline-block;
            .info-count{
                margin-left: 10px;
            }
        }
    }
}
.light-red-border{
    border-bottom: 1px solid rgba(245, 82, 146, 0.19);
}
/*-------common style end-------*/